[2014-01-30 10:18] iHapi opened #1 "Build error"
Hi.
the build is broken, can you please fix this ?

[2014-02-02 02:36] #1 closed, assigned to nobody

[2014-03-05 21:16] dannybisby opened #3 "Runtime error"

[2014-03-06 07:21] #3 closed, assigned to nobody

[2014-03-15 01:42] toddhickerson opened #4 "fix peerDependencies for hapi"
peerDependencies and devDependencies for hapi still point to 2.x.x and need to be updated to 3.x.x

[2014-03-21 20:23] hueniverse opened #5 "Bring coverage back to 100% after lab fix"

[2014-03-21 20:29] #4 closed, assigned to hueniverse

[2014-03-21 20:29] #5 closed, assigned to hueniverse

[2014-05-20 23:23] hueniverse opened #6 "Bring coverage back to 100%"

[2014-05-21 02:15] #6 closed, assigned to hueniverse

[2014-05-27 06:59] hueniverse opened #7 "Prepare for hapi v6.0"
https://github.com/spumko/hapi/issues/1664

Just need to add `attributes`. For full migration to v6.0 look at the hapi6 branch (not ready for integration as hapi v6.0 has not been published, but adding `attributes` now is safe).

[2014-06-12 19:47] #7 closed, assigned to nobody

[2014-06-13 08:41] hueniverse opened #10 "validateFunc credentials override session"

[2014-06-13 08:41] hueniverse opened #11 "No way to use with 'try' mode if 'redirectTo' is set"

[2014-06-13 19:15] #10 closed, assigned to hueniverse

[2014-06-13 19:15] #11 closed, assigned to hueniverse

[2014-06-22 18:09] clouddueling opened #12 "Example of storing the session in a database"
It would be really helpful if you could add an example of storing the session in a database.
Or should I be looking at one of the other packages?

[2014-06-23 21:48] #12 closed, assigned to hueniverse

[2014-06-29 03:50] dminkovsky opened #13 "Typo in readme?"
Very new to Hapi here, but it appears to me that the README should have s/server.pack.require/server.pack.register in the code example.

[2014-07-15 01:23] #13 closed, assigned to nobody

[2014-07-17 12:29] hueniverse opened #15 "Skip redirection on try"

[2014-07-17 12:29] #15 closed, assigned to hueniverse

[2014-07-17 12:34] hueniverse opened #16 "Fix hapi dev dep"

[2014-07-17 12:34] #16 closed, assigned to hueniverse

[2014-07-29 21:14] calebeaires opened #17 "Cross domaini credential and angular"
What is the right setup two make cross domain work with session on this plugin?

[2014-07-30 01:23] HenrikJoreteg opened #18 "Should reply include unauthenticated error if `redirectOnTry = false` and mode is `try`?"
I want auth to be optional, and simply return a slightly different page whether you have a session or not.

It seems like i should be able to set `auth.mode` to `try` and `redirectOnTry = false` and reply without passing the error through.

The unauthenticated error gets created here: https://github.com/spumko/hapi-auth-cookie/blob/master/lib/index.js#L81

Then included here: https://github.com/sp

[2014-07-30 01:45] #18 closed, assigned to nobody

[2014-08-03 14:58] arb opened #19 "Update License"

[2014-08-03 14:59] #19 closed, assigned to arb

[2014-08-04 08:47] #17 closed, assigned to hueniverse

[2014-08-15 06:46] paulwcy opened #21 "Expose 'path' in cookieOptions"
Needing to host multiple HAPI applications under the same domain, but separated by resource path. Currently the module hardcodes the path to '/', and not having an option to change.

[2014-08-18 00:58] chadkouse opened #23 "validateFunc - when returning new credentials they do not update the session"
I've verified with Hapi 6.2 that when I return new credentials from validateFunc they do not update the session credentials.

[2014-08-18 20:15] #23 closed, assigned to hueniverse

[2014-08-18 21:22] HankMcCoy opened #25 "Pass request object to validateFunc method?"
Would it be possible to pass the request object to the `validateFunc` method? See [my fork](https://github.com/HankMcCoy/hapi-auth-cookie/commit/f19379e741883c04c9fe0d2a56c23835270f67f3) for a very trivial/slapdash implementation.

In my use case I'm writing a Hapi server that largely acts as a proxy to a different API. My `validateFunc` implementation includes a call out to this backing service t

[2014-08-19 21:45] bsiddiqui opened #26 "Update key in auth.credentials"
Is there a way to update one key or add an additional key to `auth.credentials` without calling `auth.session.set` with a new object?

[2014-08-23 17:09] jerryharrison opened #27 "Session Cookie is not being set via remote server"
I have a thorax client app that is hosted on a static server. It needs to be accessible from various subdomains (foo.example.com, bar.example.com, baz.example.com). Each of the subdomains loads the same static files/thorax app.

I have a hapi.js app running on api.example.com with auth-cookie scheme in place.

My issue is having foo.example.com perform a login request and having api.example.com se

[2014-08-24 01:08] #27 closed, assigned to nobody

[2014-09-29 23:54] hueniverse opened #32 "Refactor tests to now use before()"

[2014-10-10 09:41] floriandotorg opened #33 "Sample password problem"
Hi,

I've encountered a strange bug. I used the sample code passport 'worldofwalmart', now I'm trying to change it, but I'm constantly getting 400 "Bad cookie value: session". It doesn't matter which password I use. It only works 'worldofwalmart'.

My code:

[code]

Working fine.

[code]

400 "Bad cookie value: session"

Do I have to clear some kind of cache or something?

[2014-10-10 16:29] #33 closed, assigned to hueniverse

[2014-11-08 05:12] jdarling opened #34 "Bad cookie value even with clearInvalid true"
Trying to use hapi-auth-cookie with a custom cookie name, validationFunc, and random password on each app restart seems to lead to "Bad cookie value" response anytime the app restarts.  I thought clearInvalid would automatically clear the cookie, but it doesn't appear to.

Dirty sample below that shows basically what I'm doing without all the login/logout/etc... for clarity.

[code]

Any pointers

[2014-11-12 08:35] #21 closed, assigned to hueniverse

[2014-11-12 19:50] hueniverse opened #35 "Session keepAlive and ttl override"
Replaces #28

[2014-11-12 19:51] #35 closed, assigned to hueniverse

[2014-11-12 20:03] #25 closed, assigned to hueniverse

[2014-11-12 20:03] #26 closed, assigned to hueniverse

[2014-11-12 20:03] #32 closed, assigned to hueniverse

[2014-11-20 05:02] #34 closed, assigned to hueniverse

[2014-11-23 15:19] bsiddiqui opened #38 "Clearing cookies"
If we create a breaking change and want to clear the auth cookie for a user, how do you recommend doing that?

[2014-11-23 19:40] #38 closed, assigned to hueniverse

[2014-11-26 06:12] hueniverse opened #39 "hapi 8.0 API"

[2014-11-26 06:36] hueniverse opened #40 "Invalid cookie should still return 401"

[2014-11-26 06:36] #39 closed, assigned to hueniverse

[2014-11-26 06:36] #40 closed, assigned to hueniverse

[2014-11-27 05:07] micahlmartin opened #41 "Can't install due to hapi version dependency"
I get `No compatible version found: hapi@'>=8.0.0'` when I try to install the latest version. I have hapi `v8.0.0-rc4`.

[2014-11-27 06:30] #41 closed, assigned to hueniverse

[2014-12-03 23:56] hueniverse opened #42 "Invalid cookie blocks scheme from redirecting"

[2014-12-04 17:36] #42 closed, assigned to hueniverse

[2014-12-12 14:58] micahlmartin opened #46 "Current logged in user"
I'm wondering how to use this so that on every request it will set my current authenticated user. Currently it seems that the only time `request.auth.isAuthenticated` is set is when I specifically set the route to require authentication. I'm trying to figure out how to get functionality like in rails or other frameworks where you always have access to the `request.auth` record without having to fo

[2014-12-12 15:53] #46 closed, assigned to jaw187

[2014-12-18 12:52] ulrikstrid opened #47 "Removing expired sessions"
How do we remove sessions when the browser session ends?
Or is it bad practice to use that option?

[2014-12-29 15:39] #47 closed, assigned to jaw187

[2015-01-03 23:35] Zambonilli opened #48 "request.auth.credentials undefined after calling request.auth.session.set"
I think this is more of a question than an issue.  In my login page I'd like to perform the login, set the credentials and then display the user's authenticated dashboard without redirecting to the dashboard url.  It looks like when I call reply.view with the request.auth.credentials after calling request.auth.session.set it is undefined.  Is this because the credentials are set earlier in the pip

[2015-01-04 14:03] jaw187 commented on #48
This is because `request.auth.session.set` is used for setting the cookie object.  `request.auth.credentials` is only set after a request is successfully validated against an auth scheme.  In the case of your route, the request is unsuccessfully authenticated, your validation logic is executed, and the cookie is set.  But `request.auth.credentials` was already set to null and `request.auth.session

[2015-01-04 14:03] #48 closed

[2015-01-04 16:09] Zambonilli commented on #48
Thanks for the quick response.  This is what I figured was happening.  I'll just take the performance hit of the reply.redirect because it's more pragmatic.

[2015-01-17 19:06] danidacila opened #50 "Refreshing sessions from AJAX calls"
Hi guys,

I encountered a problem.
I have a web app composed of JS front + NodeJS API backend.
I use hapi + auth-cookie for sessions on the backend.
All of the frontend interaction is done with the content through AJAX API calls.
Some of these calls update data that is also present in the session.
For example it changes the user email, user being stored in the session.

I wrote code to refresh the

[2015-01-18 18:40] hueniverse commented on #50
You don't need to change the implementation, you just need to store the right data set in the session and lookup the rest in the server storage. However, I don't understand why the browser failed to update the cookies. It should not matter how the request was made.

[2015-01-19 06:52] danidacila commented on #50
Yes you are right, I can store the cache outside of the implementation and use it.
Also reading more about AJAX cookies it seems they are sent and received back withing the calls.
But for sure it was not working for me setting any new key in the session or updating it.

And one more question I have is if I change the session data, it means the session cookie will be changed, right? As it represent

[2015-01-19 13:24] jaw187 commented on #50
@danidacila are you taking additional steps to retrieve the cookie from your Ajax response?  If you're expecting them to show up in `document.cookie`, that won't happen.

To answer your latest question, every call to `request.auth.session.set` will result in a call to `reply.state` which will update the cookie.

[2015-01-19 13:24] #50 closed

[2015-01-27 03:20] gansbrest opened #51 "Are there plans for Flash messages support?"
Something similar to flash(type, message, isOverride) in Yar ? I think it's pretty common for websites to have the option to display some kind of one time messages 'error', 'success', 'warning' and it seem to have this wrapper method in the plugin for convenient use in request handlers. Or maybe there is better way to store one time sitewide messages?

[2015-01-27 07:30] hueniverse commented on #51
I would be against it. It is bad security practice to mix authentication with application layer data. You should use cookie auth together with yar, each for its own purpose.

[2015-01-27 16:24] gansbrest commented on #51
Hm, for some reason I thought Yar and Hapi-auth-cookie to be competing projects, since they both deal with sessions. Now thanks to your response I noticed that Yar doesn't deal with auth strategies and schemes.

[2015-01-28 12:58] #51 closed

[2015-01-30 04:36] gansbrest opened #52 "How can I set multiple session cookies with different names?"
Here is my use case. I'm building new frontend app for our legacy website. Temporarily I need to provide a flow where user logs in through my new app and I set 2 cookies, one for the new app session, and one for the legacy site ( written in PHP ).

Basically I'm trying to find a way how to set new session cookie ( or a cookie with custom name and value and not protected by Iron ) so our legacy app

[2015-01-30 15:47] jaw187 commented on #52
Use the `state` method in the response object to set another cookie.  http://hapijs.com/api#response-object

Make sure to pass the appropriate cookie options so it works with your legacy app.

[2015-01-30 15:47] #52 closed

[2015-02-06 15:19] technowar commented on #48
I am using `XMLHttpRequest`. How should I separate my login logic, and use `reply.redirect`?

[2015-02-06 17:57] Zambonilli commented on #48
I would just handle the redirect to /home client side in javascript if you're doing an ajax call.  It seems a little cleaner that way too if you're using ajax for navigation logic.  My guess is that the browsers have weird behavior with following a redirect from an ajax request.

[2015-02-07 02:20] technowar commented on #48
Can you show me your code, please?

[2015-02-07 12:37] jaw187 commented on #48
You won't be able to use a redirect.  If you're concerned about requesting protected resources via an ajax requests, you'll need to handle errors to trigger the logic to get user/pass within your own client app.

`request.auth.credentials` will be available on all subsequent requests, but not immediately after setting the session.

The browser is handling the ajax request as expected.  The random

[2015-02-07 13:34] technowar commented on #48
@jaw187, am I doing this the right way?

[2015-02-07 14:09] jaw187 commented on #48
The redirect is disabled correctly.  Your handler needs to be able to reply with an error.  This is how I'd write your handler and I'd use Boom (https://github.com/hapijs/boom)...

[code]

From that point on it all depends on the implementation of your client app.

[2015-02-07 14:15] technowar commented on #48
@jaw187, thank you. And sorry @Zambonilli for trying to hijack your issue.

[2015-02-18 07:04] technowar commented on #50
@jaw187, may I ask why cookies set by `hapi-auth-cookie` won't appear in `document.cookie`? How can I handle my cookie if this is the case?

[2015-02-18 07:20] hueniverse commented on #50
The cookie is encrypted so it won't help you much getting it in the browser.

[2015-02-18 19:36] jaw187 commented on #50
@technowar `document.cookie` is set when the initial page is loaded.  Ajax requests from scripts do not set `document.cookie`.  But the browser will store the cookie accordingly and use it for subsequent requests.

[2015-02-19 00:32] technowar commented on #50
Thanks all. I thought I got it all wrong.

[2015-02-24 09:48] KaustubhYK opened #54 "How to set session when I am using socket.io for authenticating user"
Hello,
I am using socket.io to get username and password from user and after validating username and password I want to set session for him.

[2015-02-24 14:06] jaw187 commented on #54
I believe that the Socket.IO request object should come from Hapi and will provide you with the ability to call `socket.request.session.set`.  But I can't verify.  Please test and let me know if you have success.

[2015-02-25 03:59] KaustubhYK commented on #54
I tried both socket.request.session and socket.request.auth to set session,but both are undefined.

[2015-02-27 14:29] jaw187 commented on #54
I'll keep this open till I test it out.  I do have some concerns about using an existing unauthenticated request/socket, performing authentication, and continuing to use that same socket.

[2015-03-08 06:03] tjsail33 opened #56 "Invalid cookie value"
After not having started my server for a few hours, I receive the following error when I attempt to access a page with `try` as the mode: `{"statusCode":400,"error":"Bad Request","message":"Invalid cookie value"}`

I've looked at #34 which seems to say this is fixed/intended (not really sure which), however I do have "clearInvalid" set in my initialization, and the cookie password does not change.

[2015-03-08 14:38] jaw187 commented on #56
Since you're using `try` you're expecting to access your resource, without being logged in?

[2015-03-08 17:12] tjsail33 commented on #56
I'm using `try` because the page simply has some additional functionality when the user is logged in. When I log in, shut down my server, wait some time, and then restart my server, I receive the error above even though I set the key in Redis for 3 days and I set the cookie validity for 3 days. I do not understand why the `clearInvalid` key is not clearing the `Bad cookie value` error and just con

[2015-03-08 17:32] jaw187 commented on #56
`clearInvalid` should be called even though the error reponse is returned.  What happens if you hit this route without a cookie?  Can you share the route config?

[2015-03-08 18:07] tjsail33 commented on #56
If I delete all of my cookies (_distillery, sid) and hit the route, I see the page as an unauthenticated user.

The most recent page I saw this on was my hapijs/hapi-swagger documentation page, which is configured to use the default `try` authentication mode and the following configuration:

[code]

Sorry I can't provide a better route config example, this is very hard to reproduce and I have not

[2015-03-08 18:37] hueniverse commented on #56
Can you test this without the cache part? Need to know if the `validateFunc` is part of the problem.

[2015-03-08 18:39] tjsail33 commented on #56
So you want just `callback(null,true)` in the validateFunc?

[2015-03-08 18:57] tjsail33 commented on #56
I just ran a test where I did a reds FLUSHALL from the cache, removing all traces of cookies from the server session cache and the cookie was successfully dumped from the client without throwing an error, so I do not think it is an issue with the cache.

I have also tried removing just the _distillery or sid cookies from my client because they seem to have different expiration times, but only havi

[2015-03-09 14:06] jaw187 commented on #56
@tjsail33 For the test of the `validateFunc` it may be best for there to test a successful login as well as an unsuccessful login.  So returning `callback(null, true)` wouldn't be sufficient.  But it's an options.

[2015-03-10 04:16] tjsail33 commented on #56
Okay, new development. It actually happens when i change from my old express application (cookie name format "app_name:environment") to the new happy branch I am working from. I receive this error until I delete all of the cookies for the old application version. How can I prevent this freak out from happening when unknown cookie names are detected?

[2015-03-10 10:39] jaw187 commented on #56
Are you sure you didn't have a cookie named `'sid'` from your old application?  `hapi-auth-cookie` will only be looking for the cookie named in your config.

[2015-03-10 13:46] tjsail33 commented on #56
I do, however shouldn't clearInvalid clear out this old invalid cookie value?

If I delete just the `sid` cookie and leave the `app:development` cookie, the error persists. There seems to be an issue somewhere when a cookie is present that should not be.

[2015-03-10 15:12] jaw187 commented on #56
Is `app:development` the cookie name?  Or is the cookie name `app` and the value is `development`?

[2015-03-10 15:14] tjsail33 commented on #56
`app:development` is the cookie name. the value is akin to the value of an `sid` cookie.

[2015-03-10 17:03] jaw187 commented on #56
Doing some testing earlier, hapijs\statehood won't allow us to assign cookies with colons in their name.  When setting that cookie I get the following error, `Error: Invalid cookie name`.

I'd have to assume that you're going to experience a problem when you are sending cookies which have colons in their name.  Can you confirm that you only get this error when you have the `app:development` cookie

[2015-03-10 17:10] tjsail33 commented on #56
So the interesting part is i'm not trying to send the cookie from Hapi. it just pre-exists in my localhost session, so it gets sent with the request to the server. Hapi shouldn't even be paying attention to that cookie as far as I can tell, because I don't utilize that nomenclature anymore.

[2015-03-10 17:33] jaw187 commented on #56
Hapi is going to pay attention to any cookie which is sent in a request.

[2015-03-10 20:04] tjsail33 commented on #56
And yes, I can confirm that I only receive the error when I send a cookie with a `:`. I have not tried other special characters, however the `sid` from the old server does not cause this error.

[2015-03-10 21:01] jaw187 commented on #56
Closing for now.  Feel free to open an issue in Statehood if you would like, but I'll wait for comments from @hueniverse first.

[2015-03-10 21:01] #56 closed

[2015-03-11 05:30] rutaihwa opened #57 "accessing auth, without fully blocking the endpoint"
I would like to understand how to access auth to an end point even though its not required that one would have been authenticated, in a way, offer a different views according to authenticated users.
Simple example, `/register` if one is authenticated skip, if not show the form. My problem is if i use `auth: 'stategy'`, everyone get redirected to `/redirectURI` with next `register` which is not wha

[2015-03-11 06:45] hueniverse commented on #56
@tjsail33 you need to set the default cookie settings (or better just the one you are having problems with) to allow invalid cookies as described in https://github.com/hapijs/hapi/blob/master/API.md#serverstatename-options for `strictHeader`.

[2015-03-11 06:45] hueniverse commented on #57
You can use auth mode `'try'`

[2015-03-11 08:21] rutaihwa commented on #57
Thanks @hueniverse , it works! with route plugin option redirectTo: false.

[2015-03-11 08:21] #57 closed

[2015-03-11 16:17] grabbou commented on #54
Check out passport socket.io extension which servers the same functionality in express.js world. Been using it for a while before switching to Hapi and was working flawlessly.

[2015-03-19 20:02] rse opened #58 "How to access the current "request" from within "validateFunc"?"
I'm wondering whether it is possible to access the current "request" object from within the "validateFunc" callback function, for instance to check a contained IP address against the IP address of the requesting client? Is there a way I've overlooked? I would have expected that either the "request" object is passed into "validateFunc" as an additional parameter or that the "session" object has a b

[2015-03-19 20:34] jaw187 commented on #58
No, will not have access to the request.  But you could use a combination of auth and the `onPreAuth` or `onPostAuth` extension points.  http://hapijs.com/api#serverextevent-method-options

[2015-03-26 19:19] briandela opened #59 "Unable to set cookie to browser session for a specific request"
We have a default hapi-auth-cookie expiration of 2 weeks. However, for some users we want to allow them to set the auth cookie to be browser session only (e.g. unchecking a `remember me` checkbox on the login form).

e.g. plugin config
[code]

During the request we have something like this:

[code]

However, this will still result in the ttl being set to `moment.duration(2, 'weeks').asMilliseconds

[2015-03-27 17:49] jaw187 commented on #59
This is because of how `applyToDefaults` works.  Opened issue in `hoek`

[2015-04-07 16:18] cadecairos opened #60 "Session is not being set in FX 39 and Chrome 43"
These dev browsers (FX 39 and Chrome 43) appear to be unable (or unwilling?) to set a session cookie generated by hapi-auth-cookie.

Here's my reduced test case: https://gist.github.com/cadecairos/5bcfa6aeba06c2c69952

[2015-04-07 22:00] jaw187 commented on #60
I can't think of anything special which `hapi-auth-cookie` is doing to set the cookie which would introduce this problem.  Can you test cookies from other applications/sites using the dev browsers?

[2015-04-07 22:04] cadecairos commented on #60
I use Firefox developer edition as my daily driver,  and haven't seen anything like this. I also checked that express session cookies properly get set on localhost in both dev versions.

[2015-04-07 22:07] jaw187 commented on #60
Have you tested setting a cookie through a traditional request instead of using an Ajax request?  In the end, this issue will most likely be moved to https://github.com/hapijs/statehood

[2015-04-07 23:16] cadecairos commented on #60
I'll give that a try next time I'm at my computer.

[2015-04-14 22:56] hofan41 opened #61 "Unable to use environment variables to configure some scheme options"
Currently, it is not possible to configure some of the options in this plugin using environment variables, since some of the options are assumed to be boolean/number types, while environment variables are strings.

I would like to request that this be made possible by using Joi's nifty validation() function which will accept a boolean/number string and return a transformed object with the appropri

[2015-04-15 17:19] cadecairos commented on #60
Turns out this was a bug with the polyfill of fetch setting withCredentials to true by default, and me not providing the `credentials` mode option to fetch. It broke in Firefox and Chrome Dev versions because they have the fetch API implemented.

[2015-04-15 17:19] #60 closed

[2015-04-15 21:52] jaw187 commented on #60
:+1:

[2015-04-16 00:32] jaw187 commented on #59
https://github.com/hapijs/hoek/pull/140 contains a change that will allow us to fix this.

[2015-04-20 00:41] sibartlett commented on #54
I've written a socket.io plugin for hapi called [hapi-io](https://github.com/sibartlett/hapi-io), that allows you to authorize a socket.io connection using an existing hapi cookie session (amongst other things). As @jaw187 said, it's probably best to authenticate the user before creating a socket.io connection.

[2015-04-20 10:39] jaw187 commented on #54
:+1:

[2015-04-20 10:39] #54 closed

[2015-04-20 14:40] #61 closed

[2015-04-20 17:58] mshick opened #64 "domain is now required as a string, and null does not pass validation"
Hapi's server.state accepts `domain: null` as an option, and this is a useful setting for me when in active development, because devs all use different local domains.

I think schema validation should be updated, and the logic [here](https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L60-L63) adapted to check property presence, not truthiness:

[code]

[2015-04-20 18:06] mshick opened #66 "redirectTo is now required, should it be?"
`redirectTo` has effectively been required, though [logic still exists](https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L166-L168) handling it as undefined / false.

Was this an oversight? I was handling redirect differently in my app, in a way that necessitated bypassing the hapi-auth-cookie redirect action.

[2015-04-20 18:21] mshick commented on #66
Just to add a use case to this, I have endpoints that accept basic auth for API access, and cookie auth for user sessions. If hapi-auth-cookie fails and attempts a redirect, it would be inappropriate response for an api request, which should simply return some sort of error.

I realize I can pass in a setting via the route config itself, but this is a large amount of change / extra code for a piec

[2015-04-21 18:44] hofan41 commented on #66
This was definitely an oversight caused by my last pull request which introduced the joi schema. Joi.string() does not allow null by default, and therefore, all optional schema elements that use Joi.string() should also allow null/empty string.

[2015-04-21 19:33] jaw187 commented on #66
`redirectTo` is not required.  It is only required to be a string when present.  The changes will only present a problem when `redirectTo` is explicitly set to `null` or `false`.

The docs state that `redirectTo` is an "optional login URI to redirect unauthenticated requests to".  Since `false` and `null` aren't URIs, I'm not sure if this needs to be fixed.

[2015-04-21 19:41] mshick commented on #66
The way the code is currently, `redirectTo` is required to be a string and to be present, leaving no option for disabling it aside from route-level plugin config, which doesn't get validated against the joi schema.

[2015-04-21 20:04] jaw187 commented on #64
If `domain` is omitted from options, it will default to `null` via https://github.com/hapijs/statehood/blob/master/lib/index.js#L47

[2015-04-21 20:07] hofan41 commented on #66
Definitely a bug that should be fixed immediately. Both `redirectTo` and `domain` should be addressed.

In Joi Documentation for Joi.string():
Note that empty strings are not allowed by default and must be enabled with allow('').

[2015-04-21 20:30] jaw187 commented on #66
`redirectTo` is not required to be present.

[code]

[2015-04-21 20:35] jaw187 commented on #66
As for empty strings, they're falsey values which weren't ever being passed along to `cookieOptions` in the past, so I'm not sure if they need to be allowed.

[2015-04-21 20:52] mshick commented on #66
I see what you're saying. Given that the tests are passing, and many have no `redirectTo` set it must have been a problem with my config setting an empty string. Validation will fail on an empty string, presently.

I guess it falls more into the realm of enhancement then, but, I always like to be able to set a null / falsey value explicitly in the event of a higher-level defaults / validation scen

[2015-04-21 20:56] hofan41 commented on #66
It is unfortunate that the recent changes have broken code that used to work with this module.

[2015-04-22 01:55] mshick commented on #64
Okay, fair enough. Similar to `redirectTo` I would like the ability to explicitly set a null value. request / enhancement seems right. Feel free to close it (and the PR) if you're not interested.

[2015-04-27 14:30] jaw187 commented on #66
Haven't heard from anyone else, so I think this will be closed.  @mshick Have you been able to modify your config or have you just kept using version 2.0.0?

[2015-04-29 17:47] mshick commented on #66
I'm still on v2. I can modify my config and solve the problem, but the issue remains that the current code is making the presence of a property have an unintended / unexpected meaning in my opinion.

If I'm building a plugin/service that depends on hapi-auth-cookie and has some options to set up an auth strategy. I'd have to give special treatment to incoming domain and redirectTo options, in a wa

[2015-04-29 22:02] hofan41 commented on #66
This issue definitely falls in the gray area where there is justification on both sides. The reason I see this as an oversight is because it breaks configurations that used to work. Something innocent like:

[code]

Now need to have defaults clearly specified such that they do not break in the event the environment var is undefined.

[code]

[2015-04-29 22:05] mshick commented on #66
Right, and the default you just gave an example of would break many setups — they would only be able to set cookies on example.com.

There’s no way to provide a “wildcard” default domain except by removing the domain property, and no way to make redirectTo falsey except by deleting that property entirely as well.

[2015-04-29 22:11] hofan41 commented on #66
I think this issue should be addressed in the code simply because it is a greater inconvenience to work around than not. It might not be correct or proper to the letter of the api, but it sure is convenient.

[2015-04-30 14:18] jaw187 commented on #66
Lets move forward with #65

[2015-04-30 14:18] #66 closed

[2015-04-30 22:47] rockbot opened #67 "`appendNext` no longer accepts a string"
Received this error:
[code]

Here's the code that we've written (worked fine with version 2.0.0):
[code]

Sidenote: if this was a purposeful, breaking change, the community would expect the version to be bumped to 3.0.0, not 2.1.0.

[2015-05-01 08:21] Marsup commented on #67
Reading the readme of the 2.0.0, it already expected a boolean. I think 2.1.0 is more strict about its input, so what was truthy before ('done') is not enough now, I'm not sure I'd qualify this as breaking.

[2015-05-04 19:09] geek commented on #67
This looks like an unintentional breaking change.  The previous readme says `Set to a string to use a different parameter name` This is a feature that was removed.  We should likely make the validation more relaxed to support this previous feature.  We also need a test for this condition :)

[2015-05-04 19:45] #67 closed

[2015-05-04 19:53] #64 closed

[2015-05-04 19:54] jaw187 commented on #64
Version 2.2.0 has the update for this

[2015-05-04 20:25] Marsup commented on #67
My bad, read a bit too fast, sorry.

[2015-05-05 02:21] jaw187 commented on #59
@briandela Hoek 2.13.0 contains an enhancement where `applyToDefaults` will take a `isNullOverride` flag.  Feel free to put together a PR which turns this feature on, if not, I should get to it tomorrow.

[2015-05-05 03:46] mshick commented on #64
Great, thanks!

[2015-05-05 18:03] briandela commented on #59
@jaw187 Thanks for the heads-up. I'm not able to submit a PR at the moment but I probably will be able to this weekend.

[2015-05-09 11:25] jaw187 commented on #59
Totally forgot that the change isn't in `hapi-auth-cookie`, rather it's in `statehood`.  Opened https://github.com/hapijs/statehood/pull/12

[2015-05-13 06:03] paOol opened #70 "how do I access the cookie after it is validated?"
My code pretty much looks very similar to this repo.
https://github.com/santbob/hapi-auth-example

my request.auth object is
[code]

In one of my handlers, I tried
[code]
and it did not pass.

How/where do I access the cookie so I can check if a user is authenticated in other parts of my app?

[2015-05-18 13:20] jardakotesovec opened #71 "validateFunc doc"
Hi,
got confused by following docs for `validateFunc`

Because source code [suggests](https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L145) that cookie just get updated by `session` object, not `credentials` object. And it gets updated only if `keepAlive` is true.

[2015-05-19 11:42] jardakotesovec commented on #58
And what is the reason not having access to the request in `validateFunc`? I think getting some details from request is reasonable use-case.

We have bit different use case - where we have database connection handler per request, which is accessible from request object - so it would be handy for us to be able to access the request object.

[2015-05-19 13:20] jaw187 commented on #70
You do not need to validate the cookie if the other parts of your app are running on Hapi.  If your routes have the hapi-auth-cookie authentication scheme applied, then you can know that your code will only be accessed when the user is authenticated.

If you need any information about the user which you set via`request.session.state`, it can be retrieved from `request.auth.credentials`

[2015-05-19 13:20] #70 closed

[2015-05-19 13:27] jaw187 commented on #71
An authenticated route will be able to access the `credentials` object via `request.auth.credentials`.

[2015-05-19 13:29] jaw187 commented on #58
Is that database connection going to be used to validate the request?

[2015-05-19 14:12] jardakotesovec commented on #58
It would be used to validate that token inside cookie is still valid - by checking sessions in database.

[2015-05-19 14:18] jardakotesovec commented on #58
To provide bit more context - we are using [hapi-node-postgres](https://github.com/jedireza/hapi-node-postgres), which provide connection from pool to every request and return connection back to the pool once request is finished.

[2015-05-20 17:19] jaw187 commented on #58
Is there anyway to define the validation function such that it has a reference to the connection pool?  If not, the only solution is to change the signature of `validateFunc` to include `request`.

[2015-05-25 08:30] jardakotesovec commented on #71
Thanks for answer.

I understand that part, my confusion is about the latter part:

That would suggest that If `credentials` are set, it will override the cookie with new content - which does not seem to be true in the code.

[2015-05-25 08:35] jardakotesovec commented on #58
Do you think that passing request as last parameter would be acceptable? It would not be breaking change and it would help for use cases when you need to access request object.

[2015-05-25 13:31] jaw187 commented on #58
@hueniverse Do you have any concerns about passing the request object to
validateFunc?

On Mon, May 25, 2015, 4:35 AM Jarda Kotěšovec <notifications@github.com>
wrote:

[2015-05-25 15:08] jaw187 commented on #71
It doesn't set the cookie, it overrides the value used when the application sets `request.auth.credentials`.  If `credentials` is `null` or `undefined`, the application will use the cookie when setting `request.auth.credentials`.

[2015-05-25 18:06] #71 closed

[2015-05-29 05:19] hueniverse commented on #58
No, just need to find a way to minimize breaking changes. Not sure this is worth an option but this is a heavily used module and most people don't need this.

[2015-06-02 12:54] jaw187 commented on #58
@hueniverse If most people don't need this, is there a more common pattern for validating the session against a database while using a connection pool shared by the entire app?

@jardakotesovec Instead of adding it as the last argument, adding it as an optional argument makes more sense to me.  Would you like to throw together a PR?  If not, let me know and I'll put something together.

[2015-06-03 05:22] jardakotesovec commented on #58
@jaw187 Not sure how you would make it as optional argument - based on some option?  Maybe it could be passed via `this` like  `settings.validateFunc(...).bind({request: request})`, so it would be accessible via `this.request`. What do you think? That would not cause any breaking change nor require new options.

And if you could look into it that would be awesome..  :+1:

[2015-06-04 13:22] hueniverse commented on #58
I have a feeling we need to make this change across the three auth modules and just suck up the breaking changes. Maybe line it up with the upcoming hapi 9.0 which will include a few minor breaking changes. People have asked for access to the `request` object over the years but never enough to make me reconsider but maybe now is the time to change this.

[2015-06-04 13:34] jaw187 commented on #58
Ok.  @hueniverse would you prefer multiple arguments or a single `options` argument?

[2015-06-04 14:26] hueniverse commented on #58
other than adding `request` is there anything else? `options` implies optional.

[2015-06-04 14:51] jaw187 commented on #59
@briandela Statehood 2.1.1 contains the update that should fix your issue.  Go ahead and test, let me know if anything else comes up.

[2015-06-11 16:01] #58 closed

[2015-06-12 14:54] edravis opened #73 "Keep pathname or headers after redirectTo"
So, my case:

If you access directly to an url which needs some auth and  your aren't logged. I cannot get the refer url because I've been redirected. For example:

A. Access to domain.com/private
B. Because isn't logged it's redirected to domain.com/auth/signin
C. In the handlers now there's the data of /auth/signin not /private

I hope I've explained myself well enough. Maybe I'm thinking in a b

[2015-06-13 13:20] jaw187 commented on #59
@briandela Go ahead and reopen this if there is still an issue

[2015-06-13 13:20] #59 closed

[2015-06-13 13:22] jaw187 commented on #73
I see what you're saying.  Not sure what the solution is, let me stir on it and get back to you.

[2015-06-13 17:08] hueniverse commented on #73
Other than referer header, do you need anything else?

[2015-06-14 18:07] edravis commented on #73
I guess no. The important for me is being able to access to the original url. I can find it in the referral header.

[2015-06-19 01:11] jaw187 commented on #73
@edravis Ok to close?  Keep in mind that you'll have to pass the referrer along with the credentials to the route that validates the credentials.

[2015-06-19 10:17] edravis commented on #73
@jaw187 Just like how I thought it should be :grin:

[2015-07-07 05:43] #73 closed

[2015-07-09 03:38] rainabba opened #76 "How to implement redirectUrl after authentication?"
I'm actually using Bell and hapi-auth-cookie and I'm not sure which (or both) plugins would need to be involved since I don't quite understand yet how they interact, but I need to be able to send someone to a route to initiate auth and after they're successfully authenticated, redirect them to that URL.

It seems like this is a standard part of the OAUTH process, or at least once was, but I'm wond

[2015-07-09 04:02] hueniverse commented on #76
I have no idea what you are asking for.

[2015-07-09 14:36] rainabba commented on #76
Sorry, the key point there was, "I need to be able to send someone to a route to initiate auth and after they're successfully authenticated, redirect them to that URL."

- User navigates to /auth/twitter?ReturnUrl=/foobar (no session yet exists so I can't persist the ReturnUrl value for the final redirect).
- User is sent to twitter auth and redirected to my app
- My app confirms and sets up a ses

[2015-07-09 14:39] hueniverse commented on #76
You can use **yar** for that. Basically using it as unauthenticated session management.

[2015-07-09 18:35] rainabba commented on #76
Seems that even with yar, the core issue exists, how to get and persist the ReturnUrl. The only place I can find to obtain it before Bell/hapi-auth-cookie take over is onRequest, but when I try the following, I get an a 500/internal error with no additional details (though admittedly maybe I just don't know how to get more than what is provided in the err object in the internalError handler.

[cod

[2015-07-09 18:45] hueniverse commented on #76
This is what I do in postmile: https://github.com/hueniverse/postmile-web/blob/master/lib/login.js#L15-L31

You need to preserve the original URI somewhere so you can fetch in after successful bell auth and redirect there.

[2015-07-12 08:38] SevereOverfl0w opened #77 "Redirect only when authenticated is required"
I'm trying to figure out how I can redirect a user to `/login?next=/protected` only when authentication is required on a route.

For example, `/` should be public & accessible to anybody.
But when going to `/protected` & not logged in, you should be redirected to the route above.

I tried implementing this myself with `onPreAuth` but as I can't detect if a user is authenticated yet, it's not possi

[2015-07-13 01:16] jaw187 commented on #77
If you don't want authentication applied to a route, do not include auth settings in your route config.

[2015-07-13 07:39] SevereOverfl0w commented on #77
I'd like authentication to be optionally available in the route, so that I can provide user-centric information (e.g. hide/show login/logout information in the output)

[2015-07-13 08:28] Marsup commented on #77
Why aren't you using optional or try mode ?

[2015-07-13 08:42] SevereOverfl0w commented on #77
I am using optional mode, but the redirect is still applied in optional mode.

[2015-07-13 08:45] Marsup commented on #77
Did you set the redirectOnTry option ?

[2015-07-13 08:49] SevereOverfl0w commented on #77
I left it as default (true)

[2015-07-13 15:05] SevereOverfl0w commented on #77
I set redirectOnTry to false, and still redirects were taking place.

[2015-07-13 15:38] hueniverse commented on #77
@SevereOverfl0w did you use `try` mode with the `redirectOnTry` set to false? that's exactly what it is for.

[2015-07-13 16:14] SevereOverfl0w commented on #77
Ah, derp. Given the similarities between `try` and `optional`, should it prevent redirects on both?

[2015-07-13 16:55] hueniverse commented on #77
No. They are different modes.

[2015-07-13 16:55] #77 closed

[2015-07-13 17:05] SevereOverfl0w commented on #77
redirectOnOptional might be somewhat appropriate though? They have similar use cases don't they? Just that one is okay with invalid (corrupted?) authentication. Or have I misunderstood the difference?

[2015-07-13 18:05] hueniverse commented on #77
You should be able to accomplish the same result with try.

[2015-07-15 15:28] rainabba commented on #76
Thank you. Finally got things working and yar was the key.

[2015-07-15 15:28] #76 closed

[2015-07-21 21:34] ashkumar12 opened #78 "Authentication help"
Hi, I'm new to Hapi and I just had a question about authentication. I'm trying to use the hapi-auth-cookie plugin and cannot figure out why it's not working. I think my problem is that request.auth.isAuthenticated is always false, and I don't know how to set it. I'm trying to use code that I found online on a tutorial. Please if anyone knows what I'm doing wrong it would be very appreciated! (Also

[2015-07-22 04:43] mtharrison commented on #78
Are you sure you're testing this on a TLS connection? If not your cookie won't be set when using `isSecure: true`. Try it set to `false`.

[2015-07-22 18:37] ashkumar12 commented on #78
Yes it is, and setting it to false didn't help either

[2015-07-26 22:06] jaw187 commented on #78
@ashkumar12 I didn't have any problems running your example if I set `isSecure` to `false`.  What does your server setup look like?

[2015-07-27 16:38] ashkumar12 commented on #78
just got it, no idea what i was doing wrong, but i think it was some sort of routing problem, thanks for the help

[2015-07-27 16:38] #78 closed

[2015-08-13 12:17] kanongil opened #80 "Buffer type should be allowed for "password" option"
I supply a node `Buffer` as the argument to the password option. However this broke in 2.2.0 and I get the following error:

[code]

[2015-08-13 15:38] jaw187 commented on #80
The easiest thing that you could do is convert the buffer to a string, otherwise https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L25 needs to be updated to allow the a Buffer.

[2015-08-13 16:33] hueniverse commented on #80
We should allow passing a buffer.

[2015-08-15 17:40] sethlivingston opened #81 "Is the validation function necessary?"
I (perhaps mistakenly) left out the validation function when I installed hapi-auth-cookie. I came across it in the example, though, and realized that authentication seemed to be working fine without it. Is it necessary?

[2015-08-15 17:51] Marsup commented on #81
That's already explained in the readme.

[2015-08-15 17:59] sethlivingston commented on #81
It sure is! Sorry about that.

[2015-08-15 17:59] #81 closed

[2015-08-17 12:28] #80 closed

[2015-09-09 17:11] rainabba opened #86 "Example demonstrating proper use of set(key, value)"
Calling it without error is simple enough, but I can't find (even right after the call) where I actually retrieve the value.

I expect `request.auth.session.set('someData', { foo: 'bar' });` to be accessible with `request.auth.session.someData`.

An example showing the correct way(s) to use this would be greatly appreciated.

[2015-09-09 17:57] rainabba opened #87 "How to setup session from inside another provider"
I'm using [hapi-auth-jwt2](https://github.com/dwyl/hapi-auth-jwt2) for an additional strategy and inside the validate function there, when the user is authenticated by a valid token, I'd like to setup a session so that future requests are valid per hapi-auth-cookie.

I expected this to be as simple as calling `request.auth.session.set( creds );` inside that validate function, but I don't see the h

[2015-09-09 18:32] rainabba commented on #87
It appears that I am seeing the expected behavior on one route (swagger), but not another one where I'm calling `reply( JSON.stringify(res) ).type('application/json');`

Digging deeper, I see the cookie in the set-cookie header, but it's not being applied/saved. Stranger still is that I see the cookie from YAR also (after the hapi-auth-cookie one) and it IS being saved. The only difference I see i

[2015-09-15 16:39] bf opened #89 "Example for invalidating another session"
First of all thanks for this very nice piece of software. I'm currently stuck trying to figure out how to best solve the following situation:

A user has multiple sessions, e.g. one in Chrome and one in Firefox. Now they use Chrome to change their password, and I want to invalidate not only the session in Chrome but also the session in Firefox.

I observed `request.auth.session.clear()` to only re

[2015-09-15 18:28] jaw187 commented on #86
The data is accessible via `request.auth.credentials.someData` and it will be available on the subsequent requests that occur after your call to `request.auth.session.set`

[2015-09-15 18:28] #86 closed

[2015-09-15 18:30] jaw187 commented on #87
Would you be able to post a gist or a repo with the simplest example of the problem?

[2015-09-15 18:34] jaw187 commented on #89
There isn't anyway getting around utilizing some type of shared storage for two totally separate requests to be related.  I'd say go with what ever implementation you think your more comfortable with, they both seem quite similar to me.

[2015-09-16 21:52] rainabba commented on #86
Ahh. Not being available until the next request is what got me. Doesn't feel like a session variable that way so much as a cookie value (which I realize it technically is).

[2015-09-17 13:55] #89 closed

[2015-09-17 14:15] bf commented on #89
Thanks for clarifying, your framing of the issue helped me to understand it better. I've implemented it now using a centralized storage which links all sessions.

[2015-09-17 21:03] thebinarypenguin opened #90 "Example using catbox-redis for session storage"
I'm using hapi-auth-cookie for my session/state management however I would like to make my hapi server stateless (and scalable) by offloading session storage to a redis server using catbox-redis.

Do you have any examples of how to use hapi-auth-cookie and catbox-redis together?

[2015-09-18 17:22] hueniverse commented on #90
https://github.com/npm/newww/blob/master/lib/startup.js#L62

[2015-09-18 22:27] thebinarypenguin commented on #90
Oops, I didn't realize there was an example in the repo.

https://github.com/hapijs/hapi-auth-cookie/blob/master/example/index.js

Between this example and the one from npm/newww that should do it thanks.

[2015-09-18 22:27] #90 closed

[2015-09-29 14:22] jaw187 commented on #87
@rainabba ^^^

[2015-10-07 13:16] #87 closed

[2015-10-14 18:06] ravisuhag opened #92 "auth.session.set secure/best approach?"
My user object looks like this.
[code]
I am concerned, which one is best approach in terms of security, cookie size, performance etc.
[code]
or
[code]

[2015-10-16 19:19] ravisuhag commented on #92
@jaw187 can you help me out?

[2015-10-20 17:31] jaw187 commented on #92
@ravisuhag I don't think you'll see a difference in the size of the cookie if you use `user` or `user.id`.  Cookies are going to be encrypted with Iron, so you should have some confidence that it's secure and performant.

[2015-10-20 17:31] #92 closed

[2015-10-20 20:03] ravisuhag commented on #92
Great. This approach will save few DB queries for me.

[2015-11-06 16:39] mtharrison opened #93 "Node >= 4 / es6 updates"
Summary of changes required:

- use strict
- `const` and `let` where appropriate (linter will tell you where)
- arrow functions where appropriate (linter will tell you where)
- relevant updates to tests + docs
- updating deps and engine in package.json
- avoid `self` and `+=` / `-=` (not optimized yet for let const)

[2015-11-07 12:55] jaw187 commented on #93
@mtharrison Thanks Matt, I'll take it from here.

https://github.com/hapijs/contrib/issues/62

[2015-12-01 07:22] tezlopchan opened #94 "Why is isSecure Option not working?"
When I change isSecure to true, I cannot see any session ?

[2015-12-01 07:25] Marsup commented on #94
isSecure needs https to work.

[2015-12-01 09:31] #94 closed

[2015-12-02 18:05] wh33lhouse opened #95 "logout issue"
I have noticed a potential security issue, and would like some assistance/clarification.  DM me for more details.  Thanks.

[2015-12-02 22:00] jaw187 commented on #95
@wh33lhouse Not familiar with a way to DM via GitHub, but go ahead and email me directly.  jawone87 AT gmail DOT com

[2015-12-06 13:28] paulovieira opened #96 "support these options: ignoreErrors, strictHeader, passThrough, autoValue"
The `server.state` method accepts a bunch of options that control the processing of cookies. This plugin currently supports the following options:

  - password
  - ttl
  - domain
  - path
  - clearInvalid
  - isSecure
  - isHttpOnly

The following 2 options are also present in the plugin, but are hard-coded (so they're not really options):

  - ignoreErrors
  - encoding

So the following 7 option

[2015-12-07 07:11] tezlopchan opened #97 "Having Trouble with implementing single session per user?"
I have flagged a user with isLogged in db when user is logged in, but having trouble to set is false when the session expires after certain time. How can we flag islogged false when session expires after some time

[2015-12-08 19:51] jaw187 commented on #97
Your approach may be wrong.  If you're expecting the cookie to expire, you'll have no way of notifying the database that the cookie expired.  You could add a column to track the expiration date and implement a routine to review sessions.

But I think most people are using a similar flag to indicate when a user with a valid cookie should not be logged in.

[2015-12-08 19:51] jaw187 commented on #95
@wh33lhouse Ok to close?

[2015-12-08 19:52] jaw187 commented on #96
I don't see any problem adding to the options.  Go ahead and send in a PR.

[2015-12-08 19:57] wh33lhouse commented on #95
Oh yeah, sorry, I got swamped last week and forgot.  But yes.  Thanks!

~Dan

[2015-12-08 21:29] #95 closed

[2015-12-14 19:11] jaw187 commented on #97
@tezlopchan Ok to close?

[2015-12-17 14:08] tezlopchan commented on #97
Thanks for Info... I create a new collection in mongodb and set auto expire time for session id and did some checking.. its working for now..

[2015-12-17 14:08] #97 closed

[2015-12-18 05:24] tezlopchan opened #98 "Is there any way to access my client cookie? Or way to clear client cookie on Browser close?"
I was trying to get access to my client cookie but seems we cannot.. But we can manually clear the session from dev tools options.

[2015-12-18 06:15] hueniverse commented on #98
Make sure `isHttpOnly` is set to `false`.

[2015-12-18 07:19] tezlopchan commented on #98
:+1:

[2015-12-18 07:20] tezlopchan commented on #98
:+1:

[2015-12-18 07:20] #98 closed

[2015-12-18 11:21] tezlopchan opened #99 "How does ttl work?"
i see in documentation,
[code]

Says defaults to single browser session and ends when browser closes but even if i close browser the session exist?

[2015-12-18 12:33] mtharrison commented on #99
It's up to your browser when it delete a cookie with session expiry. Are you using Chrome? Perhaps this will help: http://stackoverflow.com/a/10772420/1402929

[2015-12-18 17:09] #99 closed

[2015-12-29 16:54] jasonswearingen opened #100 "can this be used without Iron?"
I'd like to use this with Iron disabled.  How is that done?

From the example, if I can disable Iron, I can write my own validateFunc() the parse a JWT token.

edit: btw, I don't want to use the hapi-jwt plugins as they abstract too much of the configuration details away.

[2015-12-29 17:58] hueniverse commented on #100
No. The entire security profile of this module relies on iron. If you want something else, fork it and figure out your own security architecture.

[2015-12-29 17:58] #100 closed

[2015-12-29 19:16] jasonswearingen commented on #100
ok thank you for the details.   I hope to try forking hapi-auth-cookie someday :)

[2016-01-02 18:40] hueniverse opened #101 "Switch to use a request decoration instead of request.auth.session"
See: https://github.com/hapijs/yar/issues/88

I am removing the `request.session` and `request.auth.session` placeholders from hapi. Should not break anything but you should consider a breaking change to move the methods set by this plugin elsewhere directly on the request.

[2016-01-05 15:44] jaw187 commented on #93
Addressed by #102

[2016-01-05 15:44] #93 closed

[2016-01-05 15:52] jaw187 commented on #96
@paulovieira Are you still looking to make these changes?

[2016-01-05 17:36] #101 closed

[2016-01-05 18:13] paulovieira commented on #96
Sorry for the delay. I wanted to send the pr, but I making the tests for these options was not trivial for me. I currently don't have time for that, sorry.

[2016-01-08 10:33] leesei opened #104 "Use `server.decorate()` instead of assignment"
See Eran's comment:
https://github.com/hapijs/hapi-auth-cookie/pull/103#discussion_r48878555

[2016-01-08 13:23] jaw187 commented on #104
Thanks @leesei I've seen it and have the work done locally.

[2016-01-11 03:05] leesei commented on #104
Thanks.
Close this upon commit?

[2016-01-11 13:26] jaw187 commented on #104
:+1: Struggling with how to access `reply` from within a function passed to `server.decorate`.  Any suggestion?

[2016-01-11 16:20] mtharrison commented on #104
@jaw187 what are you trying to do, why do you need `reply()? Can you show some code?

[2016-01-14 12:54] jaw187 commented on #104
@mtharrison All of the code I'm assigning to `request.cookieAuth` needs to be done using `server.decorate`, but since `server.decorate` has to be called before the extension point I'll only have access to `request` by setting the `apply` option to `server.decorate`

[code]

I wrote some code where I included a function to register `reply`, but I'm not sure how that holds up with concurrent request

[2016-01-15 05:46] hueniverse commented on #104
You just need to decorate once and then you can override the value later. The point is to register to avoid namepsace issues.

[2016-01-16 17:12] Marcoevich opened #105 "Get logged in user from the client side?"
I use hapi-auth-cookie with success to authenticate the users in our app. One problem I am currently facing is how to get the logged in userId from the clientside, when request object is not available? This happens in a clientside controller for example.

I can do this with a route back to the server, then return the userId from the request in the route handler. However I feel this should be simpl

[2016-01-18 09:56] peturh commented on #105
I also ran into this problem. I did what you didn't want to do. I guess it could be more simple.

     plugin.route({
            method: 'GET',
            path: '/getCredentials',
            config: {
                auth: 'session',
                handler: function (request, reply) {
                    reply(request.auth.credentials);
                }
            }
        });

[2016-01-18 13:42] Marcoevich commented on #105
Hi Peturh, I have also done it via a route now :) If anyone knows a way to extract this information directly from the cookie, feel free to let us know!

[2016-01-18 15:37] jaw187 commented on #96
Closing issue for now, feel free to reopen when you can

[2016-01-18 15:37] #96 closed

[2016-01-18 15:38] jaw187 commented on #104
Ok, great!

[2016-01-18 15:39] jaw187 commented on #105
By design, the client can't decrypt the cookie.

[2016-01-18 15:39] #105 closed

[2016-01-19 10:28] Marcoevich opened #106 "Validate function in readme not working"
I tried to use the validate function in your readme like this:

        validateFunc: function (request, session, callback) {

            cache.get(session.sid, (err, cached) => {

                if (err) {
                    return callback(err, false);
                }

                if (!cached) {
                return callback(null, false);
            }

            return callback(nul

[2016-01-19 13:46] jaw187 commented on #106
Works fine for me.  Feel free to share your full code if you need additional review.

[2016-01-25 16:00] Marcoevich commented on #106
I fixed this, Needed to set javascript language versions to 'ECMAScript 6' in Jetbrains Webstorm settings :)

Thx, i'll close this for you.

[2016-01-25 16:00] #106 closed

[2016-01-29 13:28] #104 closed

[2016-01-30 01:15] bartonhammond commented on #105
I'm very confused w/ all this, so excuse my ignorance.

I am using ReactNative, a mobile framework. I am testing using GenyMotion for Android emulation.

For the life of me, I can't figure out when the authentication is successful from my client

I am using Hapi Bell oAuth for GitHub, my server implementation is:

[code]
I can put a breakpoint right after the 'isAuthenticated' and see it sets the

[2016-02-01 11:10] bf opened #108 "request.cookieAuth.clear() vs request.auth.session.clear()"
I've been using `request.auth.session.clear()` in my project for a long time, and now noticed that it doesn't really work any more. The next request after the function call is still authenticated, and only if you refresh again the unauthorized page is shown.

I have revisited the example section and now it seems to be `request.cookieAuth.clear()`, which indeed works correctly and solves the issue

[2016-02-01 11:18] bf commented on #108
Okay, it seems I misinterpreted the errors I was given and the issue is not being solved by using the  `request.cookieAuth`.

Given that I am running hapi `8.8.1` does it make sense to upgrade hapi-auth-cookie to current `6.x.x` @hueniverse ?

[2016-02-01 18:14] hueniverse commented on #108
I am not the right person to ask. I don't use this module.

[2016-02-01 18:19] bf commented on #108
Ok thanks for your reply. Are you using an alternative module for cookie-based sessions or no such sessions at all?

I'll reopen this issue when I have upgraded to both latest versions of hapi and this plugin. Keep up the good work!

[2016-02-01 18:19] #108 closed

[2016-02-02 19:21] jaw187 commented on #108
@bf The functionality of `request.auth.session.clear` and `request.cookieAuth.clear` are one and the same.  Changes to Hapi core required moving away from `request.auth.session`.  Let me know if you need more assistance reviewing your issues.

[2016-02-09 23:04] jt3k opened #110 "how to get all session objects, in order to restore them next time i start hapi-server?"
I need to store session objects in the database,
to restore session objects from the database, when I turn hapi-server again

How can I:
1. store  session objects ?
2. restore session objects ?

[2016-02-10 06:44] mtharrison commented on #110
Why restore them in bulk? You could just read the DB/cache for each incoming request with a session ID stored in the cookie, kind of how the example in this project's README works.

[2016-02-10 09:26] Marsup commented on #110
I don't think that's necessary if you only want it for server restarts. Cookies already contain the full encrypted authentication and shouldn't stop working just because of a restart.

[2016-02-10 10:16] jt3k commented on #110
To restore them all is needed so i can use `request.auth.isAuthenticated` as written in the example.

Just try to run this example to make sure that after server reboot you have to go through authorization again.

[2016-02-10 11:11] mtharrison commented on #110
Not sure I understand your point. The user's cookie is decrypted and `request.auth` is populated for every single request to your server. So whether the server has been rebooted recently or not is irrelevant. The cookie still resides on the user's machine.

[2016-02-10 12:13] jt3k commented on #110
@mtharrison

All right. After server restarts, on the client cookies are not deleted. But on the server the session data will be reset.

My goal is to store sessions in the database, to restore them when I restart the server.

I don't know how to get the list of session data using hapi

If this is not the right way, then tell me how to do what I want. (if you understand what I mean)

[2016-02-10 13:37] Marsup commented on #110
OK I think I understand the confusion. There are no sessions with this plugin.

The example in the readme makes use of an in-memory cache (`request.server.app.cache.set` + `cache.get`) to store some data (not a session) associated with the login and only stores an id in the cookie, but you're not forced to do that if your data is rather small. You can trust the encryption to safely provide you wit

[2016-02-10 15:02] jaw187 commented on #110
:+1: on the last post by @Marsup

You'll have to setup some type of persistent store for the session data and then the cookie should contain an index that references the session.

[2016-02-11 14:20] jt3k commented on #110
@Marsup  ok, thanks for you answer!
but u not understand me.

[2016-02-11 14:28] jt3k commented on #110
i start the example

open in browser
set name and password
after this in my browser sets cookie `sid-example` ![](https://i.imgur.com/1OM4MH7.png)
but i can't find this key in my server-side ![](https://i.imgur.com/fPKkLNb.png);

How to get this value?
![](https://i.imgur.com/OTXvySx.png)

[2016-02-11 14:32] Marsup commented on #110
As I have already said :
- there is no session so you won't find that cookie anywhere in the server
- the cache is in-memory but if you plug it to a database it will be there on restart

[2016-02-11 14:37] jt3k commented on #110
@Marsup  ok! thnx!

[2016-02-11 14:37] #110 closed

[2016-02-15 12:26] antony opened #111 "Registering two strategies"
Hi,

I have a scenario whereby I have a consumer api and a merchant api. These APIs use different cookies -  one called 'merchant' and one called 'consumer'.

I notice from the documentation that the cookie-auth 'scheme' cannot be registered more than once (due to request decoration). Does this therefore imply that I can't set up two strategies (using ```server.auth.strategy(...)```), one for cons

[2016-02-16 17:08] jaybrueder commented on #111
Also a problem I am facing right now!

[2016-02-16 17:45] mtharrison commented on #111
Can you show a small example of code to illustrate the issue? You should be able to register as many strategies as you like, provided you only want to authenticate with one of them per route.

[2016-02-16 21:50] jaybrueder commented on #111
Here is an example form my project.

I want to define two auth strategies. One for the User model and one for the Admin model.

[code]

If I try to start the server with this code, I get the following error message:

[code]

The authentication works perfectly with only one authentication strategy in place.

I fairly new to the Hapi framework and NodeJS in general. So this could very well be just a

[2016-02-16 21:53] jaybrueder commented on #111
I am using:

[code]

[2016-02-16 22:01] antony commented on #111
I am using the same versions, and my code is almost identical.

I am currently working around the problem by using two different connections, which seems to isolate the plugin's strategies, and resolve the issue nicely, but I really need to use both cookies on one connection (albeit different routes).

My code doesn't fail at the same point though. I have a **lot** of tests around it and the exact

[2016-02-17 07:24] mtharrison commented on #111
My mistake, it looks like the decoration is added to the `request` object globally for the first registered strategy. Any future use of `request.cookieAuth` will refer back to that strategy. Some changes would have to be made, but this scheme should be able to support multiple strategies IMO.

One of the things that the API would need to support is specifying which strategy you're setting a cookie

[2016-02-17 15:22] StarpTech opened #113 "Upgrade from 3.0.1 to 6.0.0"
I just want to upgrade hapi-auth-cookie 3.0.1 to 6.0.0

Hapi: From 8.8.x to 12.1.0

[code]

I'm facing to following problems:

`request.cookieAuth.clear()`
message: Uncaught error: request.cookieAuth.clear is not a function stack: TypeError: Uncaught error: request.cookieAuth.clear is not a function

`request.cookieAuth().clear()`
message: Uncaught error: Cannot read property 'auth' of undefined s

[2016-02-18 13:56] antony commented on #111
@mtharrison Nope, they can either be a merchant or consumer, not both.

[2016-02-19 04:23] jaw187 commented on #113
@StarpTech Can you send me a gist which duplicates this?

[2016-02-19 05:04] jaw187 commented on #111
Just so we're all on the same page.  The original error is due to the strategies not setting the `cookie` options, which will default to `'sid'`.  However the issue as reported is real since the implementation decorates request with the same name each time the strategy is registered.  It was a pretty easy change which I've thrown together and will submit a PR for right now.

[2016-02-19 13:01] StarpTech commented on #113
Hi @jaw187 I will try to provide it ASAP.

[2016-02-22 13:41] #111 closed

[2016-02-24 02:14] jaw187 commented on #113
@StarpTech Is this still a problem?

[2016-02-24 11:30] StarpTech commented on #113
@jaw187 yes, but I have no time to reproduce this error. I will try it in the next days.

[2016-02-24 18:58] spiffytech opened #116 "Add a changelog"
Please include a changelog, to help with upgrades. E.g., it's hard for me to tell the impact of upgrading from v5.0.0 to v6.1.0, even looking at the commit history. The major version bump suggests breaking changes, but there's no documentation on what those are.

[2016-02-24 19:19] Marsup commented on #116
See https://github.com/hapijs/good/issues/434 for the answer you will probably have.

[2016-02-25 14:05] jney opened #117 "`cookieAuth` or settings.requestDecoratorName"
just a quick question, i was reading the code an was wondering where `cookieAuth` https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L131 property came from ?

isn't it suppose to be:

[code]

fyi i didn't make a pull request because i haven't test the code, i was just try to understand how you got access to `reply` in `decorate` context. better useless question than a mistake.

[2016-02-26 03:14] jaw187 commented on #117
`'cookieAuth'` is the default value for `requestDecoratorName`

[code]

[2016-02-26 03:19] jaw187 commented on #117
Thanks!  Great catch, I misunderstood what you were reporting at first.  Fix is in and broken version has been unpublished

[2016-02-26 03:23] jaw187 commented on #116
All of the commits are effectively a change log.  Reviewing the changes to the examples and tests will provide the best view on what it takes to upgrade.  If you have any specific questions, please let me know.

[2016-02-26 03:23] #116 closed

[2016-02-26 03:24] #117 closed

[2016-02-28 01:41] jaw187 commented on #113
@StarpTech ping

[2016-02-28 12:34] seekasra opened #119 "upgrading from 5.0.0 to ^6.0.0"
We get the error of :

.

[2016-02-28 14:23] jaw187 commented on #119
Are you defining more than one strategy?

On Sun, Feb 28, 2016, 7:34 AM Kasra Kassai <notifications@github.com> wrote:

[2016-02-29 09:51] seekasra commented on #119
no.

[2016-02-29 17:20] jaw187 commented on #119
The only way that error is going to be thrown is if `server.decorate` is called twice.  Would you be able to post a gist of what you're working with?

[2016-03-01 08:22] seekasra commented on #119
Yes, we are using it many times, since we just need it.

[2016-03-01 13:24] jaw187 commented on #119
?

[2016-03-02 11:14] dardyfella opened #120 "Auth mode 'optional' does not distinguish between the lack of a session cookie and an invalid session cookie"
I've noticed that when a route is configured with auth: { mode: 'optional' }, hapi-auth-cookie doesn't distinguish between the lack of a session cookie and an invalid session cookie.

For example, both of the following GET requests will return HTTP status code 200 and hit the route handler when ran against the example code [here](http://pastebin.com/nJ26UYZz):

`
curl http://127.0.0.1:8000/
curl h

[2016-03-16 02:06] stephenmuss commented on #119
@jaw187 I have had the same problem too.

In my case I am using Glue and have multiple connections/plugins which use hapi-auth-cookie.

I have set up a demo with a similar config (note there are no routes defined) which replicates the issue.

See https://github.com/stephenmuss/hapi-auth-cookie-error-demo.

[2016-03-16 21:33] jaw187 commented on #119
@stephenmuss I just submitted https://github.com/stephenmuss/hapi-auth-cookie-error-demo/pull/1 to show how to avoid the error when using cookie auth more than once

@seekasra This may apply to you.

[2016-03-23 14:42] antony commented on #119
Hm - I have this exact same problem too, yet I am only using the plugin once. I have five connections, but define the auth on the main 'server' connection:

[code]

Is it possible that the other connectors cause decorate to be called multiple times?

[2016-03-23 15:27] jaw187 commented on #119
@antony You just need to add a unique `requestDecoratorName` property to each strategy.

[2016-03-23 17:00] antony commented on #119
But I don't have multiple strategies :) one strategy, multiple connections.

On Wed, 23 Mar 2016 15:27 James Weston, <notifications@github.com> wrote:

[2016-03-23 19:54] jaw187 commented on #119
Ah, you're right.  I didn't look at the bar plugin :/.  So this might be a Hapi core issue.  It's gonna require a fair amount of digging, stand by.

[2016-03-23 19:57] antony commented on #119
No problem! Standing by!

On Wed, 23 Mar 2016 19:54 James Weston, <notifications@github.com> wrote:

[2016-03-24 10:35] jaw187 commented on #119
@antony Is your goal to apply the strategy to both connections?  If not, then the quickest fix is to do something like this
[code]

[2016-03-24 10:37] antony commented on #119
Yeah I really need it over three distinct connections. I have basic auth on
another and bearer auth on another. So five in total.

On Thu, 24 Mar 2016 10:35 James Weston, <notifications@github.com> wrote:

[2016-03-25 23:21] Banzaci opened #121 "cookieAuth is undefined."
As the title say, cookieAuth is undefined! Is this an issue for hapi-auth-cookie?

[2016-03-25 23:35] gergoerdosi commented on #121
Which version of hapi-auth-cookie?

[2016-03-26 08:34] johnmanko commented on #121
Can you provide some of your code?

You should have something like:

[code]

And reference by route like such:
[code]

[2016-03-26 08:35] johnmanko commented on #121
Is this related to your problem?

https://github.com/hapijs/hapi-auth-cookie/issues/119#issuecomment-200374763

[2016-03-30 13:59] ugate opened #122 "Multiple server instances with catbox-redis"
We're using [catbox-redis](https://github.com/hapijs/catbox-redis) in conjunction with `hapi-auth-cookie`. We have our system setup similar to the following:

![hapi](https://cloud.githubusercontent.com/assets/944948/14143735/d1b7cfa0-f65a-11e5-9913-c6e48c02cb30.png)

My question is how to manage sessions across `hapi` + `hapi-auth-cookie` + `catbox-redis` so that if a client hits any one of the `

[2016-04-15 17:34] lutfor3737 opened #123 "EPEERINVALID in hapi 13.3.0 version"
I am trying to install this plugin.
npm install hapi-auth-cookie --save

Getting following error:

npm ERR! Darwin 15.4.0
npm ERR! argv "/Users/Lutfor/.nvm/versions/node/v4.4.3/bin/node" "/Users/Lutfor/.nvm/versions/node/v4.4.3/bin/npm" "install" "hapi-auth-cookie" "--save"
npm ERR! node v4.4.3
npm ERR! npm  v2.15.1
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package hapi@13.3.0 does not

[2016-04-15 17:43] Marsup commented on #123
It's all written in the error message.
hapi-oauth2orize only supports hapi 7. The master seems to have an unpublished 1.4 that fixes that.

/cc @devinivy

[2016-04-15 17:49] lutfor3737 commented on #123
Thanks @Marsup , uninstall hapi-oauth2orize. it's installed fine. But i need hapi-oauth2orize also.

[2016-04-18 10:18] jaw187 commented on #120
@dardyfella Sorry for the delayed response.  `redirectTo` and `mode` are part of Hapi's core authentication strategy implementation.  I don't think there is anything that we could do without a change to Hapi core.  But I'll take a look.

[2016-04-18 10:19] #121 closed

[2016-04-18 10:31] dardyfella commented on #120
@jaw187 No worries man. When I was looking around at the various hapi authentication plugins I found a similar request for [hapi-auth-jwt2](https://github.com/dwyl/hapi-auth-jwt2/issues/43)

[2016-04-18 12:31] jaw187 commented on #122
@ugate So sorry for the delayed response.  You should use the same cookie password on each Hapi server to ensure the cookies can be shared.

P.S. nice diagram!! :)

[2016-04-18 12:33] jaw187 commented on #123
Thanks @Marsup

[2016-04-18 12:33] #123 closed

[2016-04-19 13:44] ugate commented on #122
@jaw187 when you say cookie password are you referring to the `password` option [for the server state](http://hapijs.com/api#serverstatename-options)?

[2016-04-29 16:57] ralexrdz opened #125 "Simulate cookie authentication to run a Test"
I'm doing a test for all the functionalities of my system so when me or a collaborator develop a new functionality, we can be sure we didn't broke the rest.

Since some funcionalities require cookie authentication to go through, and running [the test utility](https://github.com/hapijs/lab) doesn't store a cookie, I would like to ask you for the best practice to Simulate or include cookie authentic

[2016-04-29 20:52] #122 closed

[2016-05-13 09:38] IamSachin opened #128 "'isAuthenticated' returning false when config auth set to false"
Hi,
This is not an issue, but more of a problem that I am facing since the past 2-3 days. Being new to node.js, hapi and hapi-auth-cookie, I followed wiki (read some old version tutorials too) and implemented hapi-auth-cookie to my server. However, I hit a dead end and I am not finding a solution to this. Let me explain my problem:
This is the setup:

[code]

And my routes which don't require an a

[2016-05-14 11:02] gragra100 opened #129 "I can't set a cookie with domain redirection."
Hi this is my code to set cookie:

[code]

And into the log-in endpoint i use this function
`request.cookieAuth.set(cookie);`

So i deployed this code in a remote server and then i connected to this server and i did log-in, all worked fine, but after that I bought a domain like "www.example.com" and I set the redirection on DNS in the domain's site, now if i connect to "www.example.com" and log in

[2016-05-19 15:07] saeidalidadi opened #131 "error with coffeescript"
I wrote the example code in coffescript and gave me this error:
[code]

[2016-05-19 15:08] Marsup commented on #131
The stack trace is pointing at your code, unlikely it's this module's fault.

[2016-05-19 15:09] mtharrison commented on #131
Can you show your code?

[2016-05-19 15:35] saeidalidadi commented on #131
This is my code:
[code]

[2016-05-19 15:36] Marsup commented on #131
It shouldn't even reach L72 considering L70, something's wrong in the coffee world :)

[2016-05-19 15:46] mtharrison commented on #131
Without the line numbers:

[code]

[2016-05-19 15:54] saeidalidadi commented on #131
This is compiled code as JS:
[code]

[2016-05-19 16:02] mtharrison commented on #131
For a start you're missing several important return statements. e.g.:

[code]

This is incorrect because you wouldn't want to continue executing after the redirect. I think something has been lost in the translation to coffee.

[2016-05-19 16:10] saeidalidadi commented on #131
I tested @mtharrison idea, also the pre result :+1:

[2016-05-19 16:30] saeidalidadi commented on #131
@mtharrison and @Marsup the error solved :+1:
Need a return
[code]

[2016-05-19 16:30] #131 closed

[2016-05-23 08:17] IamSachin commented on #128
Minor bump

[2016-05-27 22:46] davidbarratt opened #132 "Allow users to override the cookie encoding"
I'm attemping to share cookies between a PHP application and a hapi application.

I thought I was going crazy in hapijs/statehood#22, but it looks like the problem is, is that this library has the session cookie hardcoded to use `iron`.

It would be really helpful if this library provided a way to specify the `encoding`.

[2016-05-27 22:50] arb commented on #132
See https://github.com/hapijs/hapi-auth-cookie/issues/100 for pertinent discussion.

[2016-05-27 22:52] davidbarratt commented on #132
wow. :(

[2016-05-27 22:55] davidbarratt commented on #100
@hueniverse,

Could you please provide some additional details of why `Iron` is required? I can't see any use of it in the code except for the cookie options.

I'm not saying it shouldn't be the default, but there are a lot of scenarios (like #132) where iron not only prevents this libraries use; but if if it were possible, it would be completely redundant.

[2016-05-27 23:13] devinivy commented on #100
hapi-auth-cookie is specifically built for passing around encrypted, signed JSON in a cookie.  Based upon your related issues it seems like you're validating a session id generated outside of hapi– you probably don't need the complexity of hapi-auth-cookie, actually!

[2016-05-27 23:35] hueniverse commented on #100
@davidbarratt iron is part of the security architecture of this module. I don't know what you are trying to do and rather not have to think about it's security implications.

[2016-05-28 01:05] davidbarratt commented on #100
@devinivy,

Thanks for the heads up, I think you might be right. However, I can't seem to find any documentation on implementing a custom authentication handler. :/

[2016-05-28 01:16] davidbarratt commented on #100
Nevermind, it looks like this is what I'm looking for:
http://hapijs.com/api#serverauthschemename-scheme

[2016-05-28 01:16] #132 closed

[2016-05-28 01:55] steevhise commented on #100
It's relatively simple to hack this plugin to make it not use Iron.  I had a similar need, wanting to interoperate with a legacy site.  You basically just comment out the encoding option, and write your own validation function to deal with your preexisting cookies. The worry over security here seems a little exaggerated, as the only reason you'd need to encrypt a cookie is if the cookie itself con

[2016-06-08 17:03] bflad opened #133 "Hapi 13 peerDependencies Support?"
Hi, we were hoping to upgrade from Hapi 11 to 13 and receive the following error running `npm install`:

[code]

The peerDependencies are currently too strict to support both 11 and 13:

[code]

I noticed you already have 13.x.x in the devDependencies, are you planning on cutting a release with 13 support? Please let me know if you need any help testing or upgrading. Thanks!

[2016-06-08 22:11] bflad commented on #133
Interestingly enough, NPM was listing *all* modules with hapi as a peer dependency for these peerDependencies errors. Another module we are using updated its dependency from `~11.x.x` to allow both 11 and 13, then without upgrading this module, NPM was happy. It looks like `>=11.x.x` should actually work for 11 and 13. I'm really sorry for the confusion here.

[2016-06-08 22:11] #133 closed

[2016-06-12 10:57] StarpTech commented on #113
Hi @jaw187 problem solved. I had to upgrade Glue to the lastest version and respect multiple connections like in https://github.com/hapijs/university/issues/187
Thank you.

[2016-06-12 10:57] #113 closed

[2016-06-21 10:41] paulovieira opened #135 "third argument to the validateFunc's callback"
This is what the documentation says about the 3rd  arg. to the callback:

_credentials - a credentials object passed back to the application in request.auth.credentials. If value is null or undefined, defaults to session. **If set, will override the current cookie as if request.cookieAuth.set() was called**._

But the action described in the bold doesn't seem to be happening. There's nothing in th

[2016-06-22 04:44] rof20004 commented on #128
I use:

auth: {mode: 'try'},
handler: function ....,
plugins: {
    'hapi-auth-cookie': {
      redirectTo: false
    }
  }

To work, try this.

[2016-06-22 12:30] achingbrain opened #136 "redirectTo as function?"
The project I'm working on has some odd requirements around constructing the URL to redirect an unauthenticated user to that means it can vary considerably based on the originally requested resource.

Would you accept a PR that allows the redirectTo option to be either a URL as a string or a function that returns a URL?

[2016-06-23 15:09] rof20004 opened #137 "Redirect not working after login"
I created a login form, after use authentication i need to redirect to home page, but redirect not work.

Here is my code:

`
exports.login = {
  auth: {mode: 'try'},
  handler: function(request, reply) {
    User.find({email: request.payload.email}, (err, user) => {
      if (err) {
        return reply(Boom.badData('Internal MongoDB error', err));
      }

      if (user) {
        if (Bcrypt.co

[2016-06-23 15:15] Marsup commented on #137
How are you authenticating on the client side ?

[2016-06-23 15:16] rof20004 commented on #137
I only send via post the email and password, unsing angular.

`  $http.post(endpointURL + '/user/login', vm.user).success(function(data, status) {
      console.log('Usuário autenticado com sucesso.');
    }).error(function(data, status) {
      alert('Ocorreu um erro: ' + data.message);
    });`

[2016-06-23 15:17] rof20004 commented on #137
An information, the user is registered, because if i type url manually, to index, it goes, but reply.redirect do nothing.

[2016-06-23 15:20] rof20004 commented on #137
Here is my server strategy:

`server.auth.strategy('session', 'cookie', true, {
    password: 'SessionAuth_Pé_Sword_Hapi_Server_Stats', //Use something more secure in production
    redirectTo: '/login', //If there is no session, redirect here
    ttl: 1 * 60 * 60 * 1000, // Set session to 1 day
    isSecure: false //Should be set to true (which is the default) in production
  });`

[2016-06-23 15:21] Marsup commented on #137
It's an xhr request, it won't redirect your browser, that's your job.

[2016-06-23 15:23] rof20004 commented on #137
You are right, In this case, How can I redirect ? Via front-end ?

[2016-06-23 15:28] Marsup commented on #137
That depends on your app I guess, using the $location service maybe ? My angular is a bit rusty.

[2016-06-23 15:29] rof20004 commented on #137
Ok, thanks for your help, I saw that is a mistake by my side.

[2016-06-23 15:29] #137 closed

[2016-06-29 16:40] hoanghiep commented on #128
I try

  server.route({
    method: ['GET', 'POST'],
    path: '/login',
    config: {
      plugins: { 'hapi-auth-cookie': { redirectTo: false }, auth : {mode:'try', strategy: 'session'} }
    },
    handler: function (request, reply) {
      if (request.auth.isAuthenticated) { // always false
        return reply.redirect('/');
      }
    }
  });
});

But request.auth.isAuthenticated always ret

[2016-06-29 18:35] rof20004 commented on #128
I think your code is wrong.

Why you does GET and POST in /login ? Get i think is only for render the page, and POST is to do authentication logic, I think you need to separate them.

This is my login route (only authenticate, the render is in another place):

`
exports.login = {
  auth: {mode: 'try'},
  validate: {
    payload: {
      email: Joi.string().email().required(),
      password: Joi.s

[2016-06-29 18:42] rof20004 commented on #128
I do not know how use tag code in github:

http://pastebin.com/0VaB5e4U

[2016-06-29 18:44] rof20004 commented on #128
If you does a xhr request, your server will not redirect, you will need to execute window.location.href in front-end.

[2016-06-30 01:40] hoanghiep commented on #128
Hi rof20004
My /login route is working. On /index, request.auth.isAuthenticated returns true, but when requesting /login page, request.auth.isAuthenticated returns false. Separating my /login route can help resolving my problem?

[2016-06-30 04:33] rof20004 commented on #128
I think you can try =D

[2016-08-19 13:32] yamsellem commented on #100
I found this issue while looking for a way to use **jwt** instead of **iron** (mostly because this plugin name is misleading).

I ended up using [hapi-auth-jwt2](https://www.npmjs.com/package/hapi-auth-jwt2) which does exacty that.

[2016-08-19 13:38] devinivy commented on #100
It's worth highlighting one major difference– hapi-auth-cookie allows you to put sensitive info (the session itself) inside a cookie, and it gets passed-around encrypted.  You wouldn't store sensitive information in a JWT because it's not encrypted (though it is signed).

[2016-08-19 13:46] yamsellem commented on #100
@devinivy in #30 @jjasonclark is saying the opposite "Like Iron, JWT is encrypted, signed, and encoded. And the list of options for signing and encrypting include none."

Maybe someone should clear things up a little bit in here ;-).

[2016-08-19 14:02] devinivy commented on #100
You can put encrypted stuff in a JWT, but really they're just base64-encoded JSON plus a signature.

[2016-08-26 23:15] wrumsby opened #141 "Support SameSite attribute"
statehood [recently added support for SameSite cookies](https://github.com/hapijs/statehood/issues/21) so it would be nice to be able to use this attribute when working with hapi-auth-cookie too.

See [Stop Cross-Site Timing Attacks with SameSite cookies](https://www.igvita.com/2016/08/26/stop-cross-site-timing-attacks-with-samesite-cookies/) for more on SameSite cookies.

[2016-09-18 17:28] PWAckerman opened #143 "Cookie not being set?"
I have an API written with Hapi using hapi-auth-cookie that interacts with a few different front ends. I have isHttpOnly and isSecure turned on (API is only accessible through SSL/TLS). The login from my Ionic application (running on iOS), a Chrome Plugin, and even from POSTMAN work correctly, the cookie is set on the request object and I can verify its there before the request is sent (and I have

[2016-09-18 17:57] devinivy commented on #143
That header is a request header sent by the client.  Can you provide the response `set-cookie` header for the request during which cookies are set?  For a start, you might have an issue making AJAX calls without setting `withCredentials`, or hapi's new behavior (in v15) around using `SameSite` cookies by default might be causing you trouble.  Here are the v15 release notes for reference: https://g

[2016-09-22 06:02] odorisioe opened #144 "Custom response on normal request and AJAX"
Hello, I wonder how i can customize the response on two different situations:

On a normal request, if the URL requires session, I want to redirect to a /login page.
Here I can set the option "redirectTo" with "/login".

On a ajax request, I want to return a custom JSON. But If I add the "redirectTo" I get a redirect to /login

I am trying to use Hapi without a client (like angular/react) so I am

[2016-09-22 12:37] ravisuhag opened #145 "What is the best approach to prevent concurrent sessions for same user?"
What is the best approach if we want to restrict login from only one device/browser.

[2016-09-26 18:28] chrisburrus opened #146 "Troubleshooting cookieAuth.clear() issues."
Greetings,

We have a website that is using request.cookieAuth.clear() to clear out the current session for logging out (just like the example).  It's a pretty simple setup:

[code]

Nothing too strange here.

This works just fine locally, but it doesn't work at all on our actual servers, staging or whatever. I suspect this is because the cookie is generated by our API (on one server) and being cl

[2016-09-27 03:15] PWAckerman commented on #143
If I log out the `request.response` object after the cookie has been set (request.cookieAuth.set), there does not seem to be any `set-cookie` header.

[2016-09-27 19:53] PWAckerman commented on #143
`withCredentials` seemed to be the issue. The previous areas where I was doing cookie based authentication (Chrome Plugin & Ionic) previously were based at `file:///` rather than `http://` which seemingly allows Hapi to set the cookies without `withCredentials`. Now that I'm actually working with a real web application, `withCredentials` must now be required.

[2016-09-27 19:53] #143 closed

[2016-10-21 13:08] turtleDev commented on #145
I'd imagine that you would need to keep track of currently authenticated users via a redis cache or a database.

[2016-10-28 10:14] Igor-lkm opened #147 "cookie"

[2016-10-28 10:14] #147 closed

[2016-11-16 09:29] ravisuhag commented on #145
@jaw187 Any ideas other than storing it in the database and cross checking on every new login?

[2016-12-02 15:51] ravisuhag commented on #145
For others who might need to do something similar. I implemented a time based super token in session and invalidate when needed in validateFunction.

[2016-12-02 15:51] #145 closed

[2016-12-02 16:40] travi opened #150 "allow appendNext to derive from another source"
my application has a somewhat unique configuration that isn't playng nice with the default behavior of `appendNext` in this plugin.

in order to direct all requests for `text/html` to a single route so that they can be routed by react-router, i have [created a plugin](https://github.com/travi/hapi-html-request-router) that adds an `onRequest` handler to [re-route](https://github.com/travi/hapi-htm

[2016-12-14 13:40] gordysc commented on #119
I hit the same issue as @antony on a project taking a very similar approach.  Given this plugin is fairly mature and only just over 200 lines of code, it was pretty straightforward to divide the pieces up ourselves: one plugin to decorate the request and another to define the schema and strategy to enforce on multiple connections.

[2016-12-17 03:20] gordysc commented on #119
@jaw187 #152 should work for this case.  It's not leveraging a public API in Hapi 11.X.X, but should be safe.

[2017-01-06 10:29] sholladay commented on #146
Assuming that the cookie configuration is identical on both servers, there shouldn't be a problem with issuing and clearing the cookie on different servers.

[2017-01-25 22:37] kanongil opened #153 "Seeking new maintainer"
This module doesn't seem to be maintained any more, and could use a bit of TLC to fix outstanding issues and PRs. I got no answer when I asked about it in https://github.com/hapijs/hapi-auth-cookie/pull/142#issuecomment-261052175.

Per the hapi js [governance model](https://github.com/hapijs/contrib/blob/master/Governance.md#lead-maintainers), @jaw187 needs to communicate that he is still interest

[2017-01-25 22:43] nlf commented on #153
i agree, this module is getting pretty stale. it would be good to see some movement here.

@jaw187 would you like to continue maintaining this? if not, let us know and we can start looking for someone to take it over.

[2017-02-12 10:14] sholladay commented on #153
Another ping for @jaw187, just in case.

TLC is very much needed. https://github.com/hapijs/hapi-auth-cookie/issues/119 is a major bug - with an underwhelming title - that has existed for over a year. It makes this module basically unusable if the server has more than one connection. Every hacky workaround I have found leads to new problems. It's quite severe.

A fix has [been proposed](https://gi

[2017-02-12 12:47] sholladay opened #154 "Improve redirectTo behavior"
The `redirectTo` feature is great, but it is way too eager to activate and does not respect the `auth.mode` of routes.

From the docs:

And also:

This is all needlessly silly and complicated. I bet at least 95% of the time what people want is for `redirectTo` to only affect requests whose auth mode is `required`.

Currently I have to add this to every single route where auth is `optional`.

[code

[2017-02-17 13:56] #141 closed

[2017-02-17 14:20] jaw187 commented on #125
@relaxrdz

Your test should replicate the steps to obtain the proper cookie prior to testing the specific functionality you're interested in testing.

Often I find myself maintaining a file loaded with helper methods and use control flow to run these methods in succession prior to testing the desired functionality.

[2017-02-17 14:20] #125 closed

[2017-02-17 14:22] #128 closed

[2017-02-17 14:25] jaw187 commented on #129
@gragra100 Sorry for the delayed response.  I believe you just need to properly use the Domain property when setting up your auth scheme.

[2017-02-17 14:25] #129 closed

[2017-02-17 14:31] jaw187 commented on #135
@paulovieira What's happening here is that the credentials object set in request.auth.credentials just for that individual request.  Perhaps the description needs to be more verbose.  But it's not actually changing the state.  It's JUST for the authenticated request.

[2017-02-17 14:31] #135 closed

[2017-02-17 14:31] #136 closed

[2017-02-17 14:31] jaw187 commented on #136
https://github.com/hapijs/hapi-auth-cookie/pull/148

[2017-02-17 14:34] jaw187 commented on #144
@odorisioe You will need to setup a specific route which uses try mode.  Then in your code you'll need an assertion which checks if authenticated.  When you have a request which is not authenticated, you should respond with your error payload.

[2017-02-17 14:34] #144 closed

[2017-02-17 14:39] jaw187 commented on #146
@chrisburrus You may need to use the Domain property to use a common domain between the servers.  I'm assuming that the servers are two sub domains in the same domain.

[2017-02-17 14:39] #146 closed

[2017-02-17 14:41] jaw187 commented on #153
@nlf It's probably best to find another maintainer.  I'm not using this plugin anywhere in any stack I maintain, so I probably do not find it to be as important as I should.

With that said, I'll get the current state of the project cleaned up to ensure a smooth transition.

[2017-02-17 14:44] jaw187 commented on #154
@sholladay As noted in the PR, I worry about users that expect this behavior.  Since there is a flag to override the behavior, why should we eliminate it?

[2017-02-17 14:58] #119 closed

[2017-02-17 16:20] nlf commented on #153
Sounds good, thanks for getting back to us. I'll put the word out and we'll start looking for someone to take over!

[2017-02-17 17:24] nlf commented on #153
Potential new maintainers --

If you're interested take a look at the current issues and pull requests, submit some fixes, leave some comments with your thoughts and opinions. If there are things you would like to change or add to the plugin, let's hear about them. Show some interest and activity and we'll consider you for the spot!

[2017-02-17 18:46] sholladay commented on #154
Nope. There is no flag that fixes the `redirectTo` shenanigans for `optional` mode. Are you going to introduce `redirectOnOptional` or just fix `redirectTo`? :/

[2017-02-25 19:42] gordysc commented on #153
While we're looking for a new contributor, can we push the latest as a release? There are some useful bits in the current code base my team would love to use.

[2017-02-28 13:56] gordysc commented on #120
They apparently addressed this in a [PR](https://github.com/dwyl/hapi-auth-jwt2/pull/44).  I'll take a look at this tonight 👍

[2017-03-02 03:53] sholladay commented on #120
You should try out my [PR #155](https://github.com/hapijs/hapi-auth-cookie/pull/155) as I believe it fixes all of your various concerns.

Since hapi core already handles the `mode` correctly, the solution is simply to respect it and delegate to hapi itself for the appropriate behavior.

[2017-03-03 22:11] bf opened #156 "Version on NPM is outdated"
I think this repo should be updated and a new version being pushed to NPM. Unfortunately I don't understand enough about cookies and hapi internals to take the role as maintainer :(

[2017-03-10 13:14] gordysc commented on #156
@nlf @jaw187  I'm sure y'all are quite busy with a bunch of other things, but any chance we could get a new version published?

[2017-03-10 13:28] bf commented on #156
I'm just using `"hapi-auth-cookie": "https://github.com/hapijs/hapi-auth-cookie",` in my `package.json` until the next breaking thing appears out of thin air on master :rofl:

[2017-03-17 09:46] ChennyBaBy commented on #153
It would be really good to get the release a new version up, hoping use the `isSameSite` option 😄 .

[2017-03-19 14:33] lironess commented on #156
really need that too because of "isSameSite" option

[2017-03-21 17:11] gordysc commented on #156
@nlf @jaw187 Any chance of this happening soon? How can we help with this?

[2017-03-28 16:54] nlf commented on #156
published 7.0.0

[2017-03-28 16:54] #156 closed

[2017-03-28 16:58] nlf commented on #153
version 7.0.0 was published by me while we continue to seek a new maintainer

[2017-03-29 08:22] ChennyBaBy commented on #153
Woo Hoo 🎉 🎉 ! Thanks @nlf ~❤️ !

[2017-03-30 13:38] matthieusieben opened #157 "Distinguish validation error and not valid"
in the code there is a `if (err || !isValid)`, treating both cases in the same way.

The error may, typically, come from a database error, which, because of this check, is not even logged. Additionnaly, if the login failed because of an internal error, there is no reason to clear the cookie (clearInvalid) in that case, since the problem is not with the cookie.

Could you provide a better error han

[2017-05-03 00:14] JoshBarr opened #158 "Add ability to pass the path option in cookieAuth.set(...)"
My use case is an application mounted at a path behind a reverse proxy. The path is only known to the app at runtime, so it would be neat to be able to pass in the cookie's path as an option, eg:

[code]

Happy to add this functionality in a PR if you are comfortable with the change :)

[2017-05-05 03:19] captainjackrana opened #159 "Auth cookie does not set instantly"
Using hapi v15.1.1 & hapi-auth-cookie v7.0.0, I have my default auth strategy defined as -
[code]
In my login route handler, after setting the auth cookie, I redirect request to a desired page ( the page he was looking for before login)
[code]
Now the **account** route has an auth mode **'required'**. However, it still gives me a 401 error. Pasting the request log here
`{ '0':
   { request: '14939

[2017-05-05 03:58] captainjackrana commented on #159
I have also noticed this happening with Chrome and not with Firefox

[2017-05-07 08:03] sholladay commented on #159
What you are experiencing is a bug in Chrome. Any effect that `isSameSite` may or may not have is just further weirdness coming from Chrome.

The problem is that Chrome does not respect the `Set-Cookie` header for a redirect. In other words, it will not include the cookie when making the request to `/account` when that request was triggered by a redirect **AND** the cookie was set on the redirect

[2017-05-08 09:10] captainjackrana commented on #159
Well that's a wonderful catch @sholladay
I'm just wondering if this also has anything to do with the issue i'd raised earlier for which you had posted too @sholladay.
Are the fb cookies not being set since its a redirection call after authorization on facebook?

[2017-05-08 15:03] sholladay commented on #159
You are referring to https://github.com/hapijs/bell/issues/287, right? That does seem plausible. I haven't tested Safari for this redirect bug, only Chrome and Firefox. The bug might have come from WebKit, as it's been around for years based on the issues I linked to above.

[2017-05-10 16:49] bounis opened #160 "auto-login"
I need to authenticate without passing by login form by sending login and password in the URL like this:
[http://login:password@kibanaIp:5601](http://login:password@kibanaIp:5601).
is there any way to do that.
thnx.

[2017-05-10 17:08] Marsup commented on #160
This is basic auth and you don't need cookies for that. See https://www.npmjs.com/package/hapi-auth-basic.

[2017-05-10 22:49] becemwniss commented on #160
thank you for your response but i can't use basic auth  with custom login form so i was wondering if i can use basic auth and hapi auth aookie at the same time, means if i did not pass credentials in the url then the server reply redirect to the login form.
thanks.

[2017-05-12 16:04] wallacepeng commented on #159
looked at the example
    request.server.app.cache.set(sid, { account: account }, 0, (err) => {

        if (err) {
            return reply(err);
        }

        request.cookieAuth.set({ sid: sid });
        return reply.redirect('/account');
    });
it seems same as what you described and worked. I am using hapi 16.x.

[2017-05-12 16:05] wallacepeng commented on #160
hapi auth cookie does not support http basic auth header. In that case, you'd have to customize it.

[2017-05-12 16:55] sholladay commented on #159
@wallacepeng `server.app` is meant for storing arbitrary runtime state. Did you mean `server.cache`? I don't see how that would affect this, since that is for server-side caching of expensive computations. But the server's response does not seem to be at fault here, as far as I can tell.

There is a pretty minimal repro case for the Chrome bug here: https://pastebin.com/ENiwCVdC

[2017-05-31 13:22] vguzev opened #161 "Please, provide index.d.ts file in npm to simplify usage of hapi-auth-cookie in TypeScript"

[2017-05-31 13:41] Marsup commented on #161
It's been asked a few times across the organization, won't happen, sorry.

[2017-05-31 15:41] vguzev commented on #161
OK, as you wish... but keep in mind that enterprises are using Typescript nowadays. It's almost impossible to use "pure javascript" in huge projects...

[2017-05-31 15:44] Marsup commented on #161
Typescript is still a minority and there are huge projects in pure javascript. Nice troll though...

That said, nothing keeps you from writing definitions, there's even a project dedicated to that, which I'm sure you know if you're actually doing typescript. Do you prefer us to do something we have no clue about or leave this to the typescript community ?

[2017-06-26 18:20] wyg27 opened #162 ""redirectOnTry" make me confused"
Hi,

The doc said:

I wrote an example and the part of route like this:
[code]

Please see the comment in the code.

I am new to hapi.js and it's hard to find relevant references with google. I am not sure what exactly this is a bug, just hope someone can guide me. Thanks!

Below is the full code of my example:

BTW: I am using hapi.js v16.4.3

[code]

[2017-06-26 18:26] #162 closed

[2017-06-26 18:29] wyg27 commented on #162
I understand now, the "redirectOnTry" should be set in "server.auth.strategy", not in individual route. Sorry to bother you!

[2017-07-26 20:58] dpmott opened #163 "Unable to fail-over to secondary auth strategy when cookie is invalid"
Per the Hapi docs:
https://hapijs.com/api#serverauthschemename-scheme

I should be able to provide Boom.unauthorized(null, 'Custom') to the callback of the validateFunc to cause Hapi to try the next auth strategy.

Unfortunately, hapi-auth-cookie ignores the 'err' parameter of the callback and forms its own Boom.unauthorized(), so there's no way to make this happen without code changes.

Standby,

[2017-07-26 21:21] devinivy commented on #163
Interesting!  While this is a property of the auth scheme itself, hapi doesn't specify how auth scheme providers like hapi-auth-cookie should treat this in their respective APIs.  You can see internally hapi-auth-cookie indicates to skip over the strategy if there's no cookie found: https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L152-L155

Overall, I see nothing wrong with thi

[2017-07-26 23:00] dpmott commented on #163
I'm trying to stack hapi-auth-cookie and hapi bell onto the same route.  Everything that I read suggested that I should be able to do it, but I couldn't find a way without code changes.

Also, it seemed odd that the error response (if supplied) was discarded by hapi-auth-cookie, so this fixes that, too. =)

[2017-08-03 05:14] HelloYie commented on #56
[code]

[2017-08-11 12:37] walshe opened #165 "protecting browser paths endpoints and rest endpoints nicely ?"
hi,
so I got a google auth login button on on myhapi+react app. When google returns a JWT to my frontend I send the jwt back to my server to verify it. I then use hapi's setState to set the cookie in the client in the reply:

[code]

After this, the hapi-auth-cookie plugin works nicely to check the jwt in every subsequent request (app browser page requests and app rest requests)

However I have on

[2017-08-11 18:10] walshe commented on #165
realized this is how to do it..

[code]

[2017-08-11 18:10] #165 closed

[2017-09-06 10:43] broiniac commented on #56
@HelloYie This is incredible, setting `strictHeader` to `false` resolve my issue as well.

I couldn't enter any route protected by this plugin. After some investigation I found out, that the problem was caused by cookie setted by me in my other project. I was running them on separate ports (`3000` for hapi, `8001` for other project), but I was using the same domain - `localhost`.

[2017-09-08 15:29] walshe opened #166 "is there a way to disable easily?"
Hi I need to do some load testing on my protected endpoints.. the process to populate a cookie is a bit complex so I would like to simply disable security so that I can load test the real logic in my endpoints without security.. is there a  tidy way to do this ?

[2017-09-08 18:27] AdriVanHoudt commented on #166
But then you wouldn't test the performance of the security part?
You could use `server.inject` and pass along a credentials object whereby hapi bypasses the security stuff...

[2017-09-08 18:37] walshe commented on #166
wasn't worried about the security part.

no worries, luckily JMeter has a http cookie manager feature which allowed me to plug in a valid cookie for it to use, saving me having to tell it how to navigate the login process etc

thanks
E

[2017-09-08 18:37] #166 closed

[2017-09-08 18:50] AdriVanHoudt commented on #166
No problem, glad you found a solution!

[2017-09-12 16:09] albatrocity commented on #159
@sholladay thanks for the explanation and the workaround, this saved me a lot of headache. I can confirm that this was only an issue for me in Chrome (not Safari) and that the script injection works.

[2017-09-18 12:52] Fjandin opened #167 "validateFunc session array?"
Maybe this is more of a question than a bug?

Sometimes the validateFunc gives me an array of sessions instead of a single session object.

Bug or maybe some configuration issues on my side? or intentionally?

[2017-09-30 08:17] Zedonboy opened #168 "Cookie(sid) token is set to response headers, but does not reflect on subsequent requests"
Hi.  ```console.log(request.auth)``` writes undefined in my console.  so used ```request.cookieAuth.set(user)``` in my end-point handler.
it set a cookie token at the set-cookie header. (checked it in my chrome browser)
but i used ```console.log(request.auth)``` in my test route/handler, it writes ```isauthenticated : false```
checked request.headers i cant find the cookie-token.
Tell me what you

[2017-10-07 03:26] sholladay commented on #159
Hmm, I found a [StackOverflow answer](https://stackoverflow.com/a/42220786) that theorizes this is some sort of security feature that can be avoided by setting the `SameSite` cookie attribute to `Lax`. Haven't tried it, though. Doesn't make sense to me and still seems like a bug.

[2017-10-14 19:23] JamesTheHacker commented on #159
Wow, I would have never figured the solution out if it wasn't for this issue. Solved it for me.

I am using the `bell` with the Facebook provider for Facebook logins. When the user accepts the application permissions and is redirected back to my site I then set a cookie using `hapi-auth-cookie`. I think this have been related because when I wasn't using `hapi-auth-cookie` and I didn't have that pr

[2017-10-14 20:09] #159 closed

[2017-10-30 22:22] dpmott commented on #163
Should I be doing anything else to move the PR forward?

[2017-11-03 21:32] #168 closed

[2017-11-03 21:40] Zedonboy opened #171 "I get redirected to on an Auth route with 'optional' mode"
I have a route with mode 'optional',  but i made the property ```redirectTo = '/login'```  in auth config.

my problem, is when hapi hit that route, it get redirected to login route, hapi suppose to hit the handler, since its mode is "optional" or "try"

tell me what am getting wong.

[2017-11-04 00:21] hueniverse opened #172 "hapi v17 support"

[2017-11-04 01:17] hellojeffhall commented on #171
I was wondering about this, too. It isn't mentioned in the README, but I think right now you have to add the following to your route config:

[code]

For example:

[code]
Basically, the route's auth mode is being ignored when `redirectTo` is set. There is an open pull request [here](https://github.com/hapijs/hapi-auth-cookie/pull/155), as well as discussion [here](https://github.com/hapijs/hapi-au

[2017-11-05 15:25] Zedonboy commented on #171
Thanks,

[2017-11-05 15:25] #171 closed

[2017-11-07 01:22] vinicius0026 commented on #172
I'm thinking on landing a PR for this. I would do it in 2 steps, first I would update all dependencies to latest versions, except for hapi, and fix tests that will break with latest lab version.
Then I would proceed to update the module itself, and hapi to v17.
It will be my first attempt to contribute to hapi ecosystem. I have been using many of the packages around hapi, including this one, and I

[2017-11-07 10:01] hueniverse commented on #172
@vinicius0026 go for it. I don't think @jaw187 is still actively maintaining it.

[2017-11-07 13:24] mrlannigan commented on #153
@nlf I would like to maintain this project. I put in https://github.com/hapijs/hapi-auth-cookie/pull/174 to upgrade the module to hapi v17.

[2017-11-23 00:17] reesmanp commented on #172
How's this going?

[2017-11-25 06:10] hueniverse opened #175 "New Lead Maintainer"
@jaw187 Looks like you are no longer maintaining this module. Any objections to passing it to someone else?

[2017-11-25 07:59] Marsup commented on #175
He was not against the idea in #153.

[2017-11-25 10:22] hueniverse commented on #175
WFM

[2017-11-26 00:25] hueniverse commented on #175
@mrlannigan do you want to take over as lead maintainer?

[2017-11-27 05:39] mrlannigan commented on #175
Sounds good to me.

[2017-11-29 14:00] mattonit opened #177 "Cookie is not being setted"
I'm using Hapi 16 with hapi-auth-cookie 7. The problem is that the following code does not set the cookie:
`request.cookieAuth.set({ foo: baz });`

`isAuthenticated` returns false, `request.auth.credentials` returns undefined

Any ideas, guys?

[2017-11-30 06:50] hueniverse commented on #175
@mrlannigan you are all set. Good luck!

[2017-12-02 06:23] marpstar commented on #177
@mattonit -- if you're running locally, you may need to set the `isSecure` option to `false`. That worked for me.

[2017-12-02 18:16] dwelle commented on #167
This can happen if the client actually sends two, identically named (by default `sid`) auth cookies.

Does this happen to you in IE by any chance? IE ["leaks" cookies across domain/subdomains](https://stackoverflow.com/a/3567008/927631) which could be the cause.

[2017-12-03 20:50] jtlapp opened #178 "Can I disable encryption for a simple SID?"
If I'm only using a session ID with no extra data, encrypting it doesn't buy me anything. Is there a way to turn off encryption? I'd rather not waste the clock cycles if I don't have to.

I'll be storing session ID hashes on the server, no keys. That way should someone breach the server, they'll be forced to muck with the server and risk detection and not also have the option of silently spoofing

[2017-12-03 21:33] Marsup commented on #178
Unlikely to happen considering #100.

[2017-12-03 21:56] jtlapp commented on #178
Thanks for pointing me to that conversation. I also don't need the expense of conversion to and from JSON. I'll look elsewhere.

[2017-12-03 21:56] #178 closed

[2017-12-09 17:50] mrlannigan opened #179 "Update lead maintainer"

[2017-12-09 17:54] #179 closed

[2017-12-10 18:46] aliismael opened #180 "Wrong code published to npm"
Dear Colleagues,

When I run
[code]
I get code that does not look like the one on the master branch on github!  I get something like this in the lib/index.js file:

[code]

Did someone push the wrong code base to npm?

Thanks in advance for your help.

Yours truly,
Ali

[2017-12-10 20:09] mrlannigan commented on #180
@aliismael The code for version [7.0.0](https://github.com/hapijs/hapi-auth-cookie/tree/22dfeb105705986728d5e97f4183f4d460c72608) is what was published to npm@7.0.0. I had merged a PR to upgrade this module to support hapi v17 yesterday and just a few minutes ago, cut the release to npm for 8.0.0. My apologies for the confusion.

[2017-12-10 20:09] #180 closed

[2017-12-10 21:53] aliismael commented on #180
Dear Julian,

You are so kind, no need for apologies.

I am upgrading my OpenID-Connect plugin for hapi 17 as well, and I feel
what you are going through.

Thank you so much, I will keep you updated if I encounter any issue with
version 8.0.0 of your plugin.

Yours truly,,
Ali

Yours truly,

Ali Ismael, Ph.D.
Gaaiat, Inc

On Sun, Dec 10, 2017 at 12:09 PM, Julian Lannigan <notifications@github.com>

[2017-12-11 10:30] Fjandin commented on #167
It happened while using Postman actually

[2017-12-11 20:38] dwelle commented on #167
there could be a bug in postman...

[2017-12-12 08:48] Tancy4hw opened #181 "identifying code"
I wander if there is some identifying code plugin for hapi-auth-cookie.

I'm using nd-bmp, the identifying pic was recognized as unauthenticated request and blocked. Is there anysolutions?

[2017-12-12 14:55] Fjandin commented on #167
yeah. Probably is postman. I'll close this one as i don't see the issue anywhere else.

[2017-12-12 14:55] #167 closed

[2017-12-13 06:43] mrlannigan commented on #181
Hello @Tancy4hw,

I'm not entirely sure what you are asking. What do you mean when you say "identifying code plugin". And can you provide a link to the "nd-bmp" library, for I was unable to find any useful information given the context I have at this point.

[2017-12-13 06:44] mrlannigan commented on #172
Version 8.0.0 has been released.

[2017-12-13 06:44] #172 closed

[2017-12-13 06:47] mrlannigan commented on #153
I've begun maintaining this module.

[2017-12-13 06:47] #153 closed

[2017-12-16 05:08] satnam-sandhu opened #182 "hapi-auth-cookie: throws error when reading cookies to access locked content"
I have used hapi-auth-cookie to save cookies and create sessions. Some part is locked and the user not allowed to access it without authentication. When the user is not logged in he is successfully redirected to the login route. After authentication when the user clicks on the same link again it throws an error most probably while processing the cookie.This is session registration:
[code]

This is

[2017-12-16 08:10] mtharrison commented on #181
Captcha verification or similar would be part of the login process, for example after validating username/password from a form, you would also validate the code, and then if successful you would set the auth cookie (`request.cookieAuth.set(...)`). The implementation/verification of the code itself is not within the scope of this plugin.

[2017-12-20 01:35] Tancy4hw commented on #181
The total verification solution would be like you said, @mtharrison .

My problem was the verification code pic generated by gd-bmp which placed at server can not reply to the front end before validation.  it's solved using a filter.
![image](https://user-images.githubusercontent.com/29646812/34186329-e2acdd7c-e565-11e7-982c-f4f4e7f5911f.png)
And my login page is like below:
![login](https://user-

[2018-01-04 06:13] sasidhar-movva opened #184 "unable to register hapi-auth-cookie in node js hapi js application"
I am trying to register hapi auth cookie in my node js hapi js application. I am able to register inert and bell packages but while registering Hapi auth cookie it is throwing an error. hapi-auth-cookie throws an error [1] "attributes" is required while registering

[Link for code repository](https://github.com/SaurabhLpRocks/ng2-node-oAuth-demo)

![image](https://user-images.githubusercontent.com

[2018-01-04 10:27] sreenu117 commented on #171
Hello,
I am using hapijs server in kibana plugin.
Problem I am facing is that the redirectTo is not working, I have already provided a handler and path to that handler is '/login'. Every time I am redirecting it to login through redirectTo it is showing error:{"statusCode":404,"error":"Not Found","message":"Not Found"}.
Please help me regarding this.

[2018-01-04 11:50] Zedonboy commented on #171
Hello,  Rulr of thumb computer/hapi can never be wrong,  almost all errors
are from the programmers themselves.

Check your routes.  redirectTo makes a GET request,  so check your handlers
HTTP methods

On Jan 4, 2018 11:27 AM, "sreenu117" <notifications@github.com> wrote:

[2018-01-04 16:48] Marsup commented on #171
On another note, please don't hijack the 1st random issue you find, create your own, it's unmanageable otherwise.

[2018-01-05 05:37] sreenu117 opened #185 "Problem with redirectTo of hapijs"
Hello,
I am using hapijs server in kibana plugin.
Problem I am facing is that the redirectTo is not working, I have already provided a handler and path to that handler is '/login'. Every time I am redirecting it to login through redirectTo it is showing error:{"statusCode":404,"error":"Not Found","message":"Not Found"}.
Please help me regarding this.
Attached is the js file for the same.
*********

[2018-01-29 20:46] marcuspoehls commented on #177
@mattonit Did you solve the problem? If it’s related to the `isSecure` option, this 1-minute video on [secure your hapi cookies in production](https://www.youtube.com/watch?v=6m2XeSYfINg) might help.

[2018-01-31 17:03] antoniosanmartin opened #187 "cookieAuth.ttl not overwriting keepAlive ttl"
I am using the plugin for an API REST using hapi 16.6.2 and hapi-auth-cookie 7.0.0. I set the keepAlive : true in the plugin initialization. In the login controller I have a "remember me" parameter which sets the ttl (request.cookieAuth.ttl) for 15 days. This is not posible as the keepAlive function overwrites with the default ttl. ¿Am I missing something? ¿Is not the right approach for a remember

[2018-02-02 18:07] createthis opened #188 "What is the best way to write controller tests?"
I apologize if this is obvious, but I'm having trouble figuring it out.

What is the best way to write controller tests for an end point protected by hapi-auth-cookie?

I'm doing something like this in my controller test:

[code]

However, request.url is protected by hapi-auth-cookie, so I get a 302 redirect code because it (correctly) wants me to log in.

What's the best way to fake a login so se

[2018-02-02 18:58] Marsup commented on #188
`server.inject` contains a `credentials` option to provide your own, it's all in the docs of hapi.

[2018-02-02 19:16] createthis commented on #188
That worked very well. Thank you, @Marsup.

[2018-02-02 19:16] #188 closed

[2018-02-07 22:01] Pasupathi-Rajamanickam opened #189 "Question: function for non authenticated request instead redirectURL"
I have a different authentication mechanism where I don't want to send user to `redirectURL` rather I want to check incoming request header and allow users to continue. Basically if there is a way to provide function for redirectURL. Is there a way to do that?

[2018-02-09 16:39] travi opened #190 "isSameSite no longer respects server level setting"
after rebasing the branch for https://github.com/hapijs/hapi-auth-cookie/pull/151 last night, i found one of the apps that was using that branch broken this morning.

the breakage was related to that app needing `isSameSite` to be set to `Lax` for its particular use case. the app had that [configured at the server level](https://hapijs.com/api/16.6.2#serverstatename-options), but not as a direct o

[2018-02-16 22:42] wallyfoo opened #191 "Inconsistent behavior for redirectTo and mode: 'required'"
I truly hope this is an implementation error on my part, but I'm seeing what feels like an inconsistent application of the redirectTo behavior in my application.

Background: My happy-auth-cookie wrapper works. It sets the cookie, users log in, scope is applied. If a user has the correct scope in their session, then they can get to the correct pages.

Consider the following route:

    "use strict

[2018-02-21 14:06] acmoune opened #192 "Breaking docs"
I am still using v6.1.1, I will not migrate to hapi@17 soon, I will really appreciate if you can give me a link to the previous docs. I am actually confused with the signature of the validateFunc callback, now everything is `async await ...`

I think you should do it for all plugins broken by hapi@17, leave a link to the previous docs.

Thanks.

[2018-02-21 14:24] devinivy commented on #192
To unblock you you can always do this,
1. Navigate to https://github.com/hapijs/hapi-auth-cookie/releases
2. Find the relevant version of the package
3. Click the commit hash underneath the relevant version
4. Click "Browse Code"
5. Find the docs for your version :)

[2018-02-21 14:31] acmoune commented on #192
ok, Thanks @devinivy

[2018-02-21 14:31] #192 closed

[2018-02-27 18:26] sunny9026 commented on #185
Hi,

I am also facing the same issue.

Did you got the fix yet??

If so please do let me know.

Thanks in advance.

[2018-03-25 02:03] sholladay commented on #191
Your implementation isn't doing anything wrong, `redirectTo` only redirects when the user is unauthenticated, not when they are unauthorized.

Do you actually want to send your users to the login page when they are unauthorized? I feel like that's a bit strange, given that they most likely cannot upgrade their privileges there. I think a better solution would be to use `optional` mode and render y

[2018-03-25 06:18] wallyfoo commented on #191
In this case, it's an admin route. So yes, if someone stumbles on it, I just want them immediately kicked.

[2018-03-25 06:26] sholladay commented on #189
`redirectTo` can be a function, yes. It receives the `request` as an argument. Note that it will only be called if the request is unauthenticated (user is logged out). And it is expected to return a string (the URL to redirect to). if you return `false`, the server will return a 401 error telling the user they are unauthenticated.

You could instead use [`optional` auth mode](https://github.com/ha

[2018-03-25 07:01] sholladay commented on #191
Agreed they should be kicked. But to the login page? They are already logged in, so that would be confusing. My two cents: I think you should show them a message along the lines of "Hey, you're not allowed to go there. To resume what you were doing, hit the back button or click here."

Either way, you'll need `optional` mode to achieve your desired behavior or my recommendation. There's no way, cu

[2018-03-25 20:11] wallyfoo commented on #191
The location of the redirect isn't relevant. : ]

I still suggest that the redirect working for one kind of auth failure (no auth) and not another kind (insufficient scope) is inconsistent. Failure is failure.

[2018-03-25 20:54] sholladay commented on #191
Authentication failures are not fatal, because a user can rectify the situation by logging in. That's what the feature is designed for.

Authorization failures, on the other hand, _are_ fatal. Hence the error response.

I wouldn't have any strong feelings about adding another option for authorization redirects. But they should definitely remain separated.

Again, this is all you have to do to achi

[2018-03-25 21:13] wallyfoo commented on #191
👍🏼

[2018-03-29 20:13] SkaterDad commented on #184
@sasidhar-movva I believe you are having issues because `hapi-auto-cookie` version 8+ is intended to be used with `hapi` version 17+ (which changed how plugins are registered).

If you need to use `hapi` v16.x like in your repo, you will need to install an older version of `hapi-auth-cookie`.

[2018-03-29 20:26] SkaterDad commented on #182
@satnam-sandhu The error you are experiencing is because the `validateFunc` is not correct for the version of hapi-auth-cookie you are using.

Here is a [link to the older version of the "example/index.js"](https://github.com/hapijs/hapi-auth-cookie/blob/aca6304e82b257aaccb66668f1ea33d171662bed/example/index.js) in this repo from the version 6 days, along with the validateFunc snippet:
[code]
Note

[2018-04-03 07:02] #182 closed

[2018-04-03 17:54] wallyfoo commented on #191
@sholladay I appreciate your input, and I'm not sure what's going on. I literally copied and pasted your code and even with optional, I still get:

`{"statusCode":403,"error":"Forbidden","message":"Insufficient scope"}`

I have tried every permutation auth mode I can think of. Still fails regardless of what I pass in the handler. This still doesn't strike me as the correct behavior.

[2018-04-03 20:28] sholladay commented on #191
Can you see if `try` mode works instead of `optional`? That shouldn't be necessary, though. I will take a look, maybe this evening. It's definitely supposed to let the route handler execute when the mode is not `required`. Could be a bug, but there are tests for this. I'll post a link to a working example when I can.

[2018-04-03 21:17] wallyfoo commented on #191
I've attempted both try and optional with the same result.

[2018-04-04 04:48] sholladay commented on #191
Okay, confirmed that my example code doesn't work. I'm talking it over with others on Slack now to make sure it's not a bug. It appears to be the intended behavior, though not what I expected based on the documentation and how authentication works (as opposed to authorization). That is to say, the route handler in my example code will run if the user is not logged in and I thought it was supposed

[2018-04-04 06:11] sholladay commented on #191
In the meantime, you can handle authenticated but unauthorized requests from the `onPreResponse`: extension point (I tested to make sure).

[code]

That should be flexible enough to do anything you want. You can redirect, render views, etc. And you can check which route was being accessed with [`request.route`](https://github.com/hapijs/hapi/blob/master/API.md#request.route).

[2018-04-08 11:51] wzrdtales opened #193 "Support password rotation"
This lib is curently missing the support of password rotation. Which can be simply archived by allowing the password param to be an object.

https://github.com/hapijs/hapi-auth-cookie/blob/master/lib/index.js#L24

See for reference

https://github.com/hueniverse/iron/blob/fa4f846bb66e6fceb3d50abf81d79950422f9c0d/lib/index.js#L247-L251

This would be the proper validation alternatives to be added:

[2018-04-10 17:18] wallyfoo commented on #191
I have done so. Thanks for your assistance.

[2018-04-21 17:10] hueniverse commented on #175
@mrlannigan you signed on to be the lead maintainer but the module is still in dire need of attention. Are you still interested in the role or should we look for a new lead?

[2018-05-16 07:20] tranan89 opened #195 "artifacts is a duplicate of credentials"
Why is artifcats a duplicate of credentials?
We are not using artifacts so this just feels like extra payload without any gain.
Can we get rid of it somehow?

Example
{
isAuthenticated: true,
credentials: {
      caregiver: [Object],
      scope: [Array],
      databaseName: '...',
      tenant: '...'
},
artifacts: {
     caregiver: [Object],
     scope: [Array],
    databaseName: '...',
     tena

[2018-05-27 23:48] mrlannigan commented on #175
Versions 7.1.0 (for hapi 16, specifically for #151) and 9.0.0 have been released.

[2018-05-27 23:48] #175 closed

[2018-05-28 18:41] mrlannigan commented on #158
Hi @JoshBarr and @tranan89 ,

If I understand your request correctly, you need the path of the cookie to be set to the forwarded host name received in the headers from the proxy in front of your hapi service? If so, I'm all for it. PR is more than welcomed.

[2018-05-28 19:09] mrlannigan commented on #195
The authentication artifacts are used in the request decorator (`request.cookieAuth`) that is provided to allow the request handler to manage the session state for that request. It is useful to keep the state of the session in the artifacts because it allows the `validateFunc` to do what it pleases to the `credentials` object without affecting the operation of the `cookieAuth` decorator mentioned

[2018-06-07 12:54] sustained opened #197 "Sequential IDs and UUIDs and..."
From your README -

[code]

1. Don't you think that perpetuating presumably insecure practices in your README is bad news:tm:? Why not just do it "properly" for the demo (whatever properly would be - I have no idea). Which leads to...
2. So would using a *proper* UUID (v4, presumably) in place of this sequential identifier be secure enough for a proper account system? What do the developers/mainta

[2018-06-28 17:56] sholladay commented on #197
The example is clearly intended to be simple. It's not meant to be a production-ready system all on its own. If JavaScript had a secure UUID generator built into the language, I imagine they would use it in the example code. But since that's not the case, they're just leaving a comment to remind people that UUIDs are generally preferred to sequential IDs, rather than importing some 3rd party libra

[2018-06-28 18:09] sholladay commented on #154
This was fixed in https://github.com/hapijs/hapi-auth-cookie/pull/186. 😃

[2018-06-28 18:09] #154 closed

[2018-08-03 14:31] AndreasChristianson opened #198 "expose the encoding option"
Currently hapi-auth-cookie uses Iron when encrypting. When using server side sessions the cookie may only be a random hash. In this case encrypting the cookie via Iron is unneeded. I'd prefer to pass in the cookie encoding (https://hapijs.com/api#-serverstatename-options) and have the cookie not be encoded.

below is an example. The login route sets no information in the cookie.
server registratio

[2018-08-03 16:35] Marsup commented on #198
You probably used search and saw https://github.com/hapijs/hapi-auth-cookie/issues/100, so my only question is: why ? :)
Note that I'm not the maintainer of that module and opinions may change, but I doubt it.

[2018-08-03 16:54] AndreasChristianson commented on #198
I did not search thoroughly. My fault.
That issue is from three years ago, perhaps the discussion could be reignited.

[2018-09-18 10:41] sscarduzio opened #200 "sessions don't survive server restart"
It's my understanding from the documentation that if I run the example code with the hardcoded password 'password-should-be-32-characters', this will be the decryption key of the cookie. Therefore, after I logged in, even if restart the server, I should be able to refresh the browser and still have a valid session.

This does not happen. Why? And how can I make hapi-auth-cookie behave like this?

[2018-09-18 20:05] Pasupathi-Rajamanickam commented on #189
Thanks @sholladay

[2018-09-18 20:05] #189 closed

[2018-09-25 17:14] J0NNYZER0 opened #201 "What's the point of the isSameSite key?"
When I set isSameSite to false or 'Lax' my expectation is that I can manage the lifecycle of a cookie from a domain which is not the same as the server.

- I have a local server on port 5000.
- I serve my ui on port 3000.
- Ui requests the hapi auth cookie - NO PROBLEM
- Ui requests to destroy cookie - PROBLEM
      - request.state is an empty object

This is a pretty simple problem. Either hapi-a

[2018-09-25 22:31] #201 closed

[2018-10-03 12:12] ebertmi commented on #200
@sscarduzio even if you have a valid session ID the server is not aware of the ID. During restart your in-memory-cache gets flushed / destroyed and therefore the information is not there anymore. You can configure for example some redis cache to persist the data.

[2018-11-09 18:19] Mutmatt commented on #161
@vguzev @Marsup I've taken a swing at the `index.d.ts`.

I would appreciate feedback from all involved.

Please and thanks!

[Mutmatt/DefinitelyTyped#hapi-auth-cookie](https://github.com/Mutmatt/DefinitelyTyped/tree/hapi-auth-cookie)

[2018-11-10 08:32] #197 closed

[2018-11-10 08:33] #177 closed

[2018-11-10 08:33] #185 closed

[2018-11-20 05:33] mrlannigan commented on #200
Mark for closure.

[2018-11-20 05:34] mrlannigan commented on #198
I would echo Marsup's question of why? What use case would make this feature necessary?

[2018-11-24 04:58] #150 closed

[2018-11-26 14:49] AndreasChristianson commented on #198
See my example above where user information is stored in a cache on the server side and keyed to a random string in the auth cookie. In this case no information is being stored in the cookie, it is just a random string. Thus encrypting the contents incurs both cpu and network overhead.
I don't think it is strictly necessary, but it would be convenient.

[2018-11-26 15:05] Marsup commented on #198
So if I manage to guess your random string because it's not so random or not so hard to collide with an existing one, I get access to someone else's account? It has potential to be a footgun, I'd also rather not support it.

[2018-11-26 16:23] AndreasChristianson commented on #198
Sure if your session id is `const sid = ++lastId;` or something equally terrible this presents quite the security hole.

However, shouldn't users have the option to make that mistake? Refusing to allow this option goes further than "secure by default"; instead it feels like "potentially insecure options not supported".

[2019-01-06 23:10] sholladay commented on #200
I can't reproduce this. I'd be willing to work on it if you can provide a failing test case, as we rely on the session continuing after a server restart.

My best guess is that you might have `clearInvalid` set to true and something is causing your cookie to be considered invalid. Could be `validateFunc` if you are also using that.

[2019-01-07 08:14] jagadeesh93 opened #203 "cookieAuth undefined throwing 500 error inside docker"
Hii
While setting the cookie from a docker container it is showing an error cookieAuth undefined but when i tried it locally it works fine .
#### Server error output
`Debug: internal, implementation, error
    TypeError: Uncaught error: Cannot read property 'set' of undefined
    at login (/usr/share/kibana/plugins/login_authorization/server/auth-local-cookie.js:29:32)
`
#### Code
`let uuid = 1;

[2019-01-07 11:56] #203 closed

[2019-01-07 11:56] jagadeesh93 commented on #203
It was due to version mismatch it is fixed now

[2019-01-21 10:23] kanongil opened #204 "Update for hapi 18"
It needs to handle URL objects:
https://github.com/hapijs/hapi-auth-cookie/blob/cb8796f9c7f22fd8af10adf3563a5f702ad57e25/lib/index.js#L233

[2019-03-05 19:12] PazzaVlad commented on #204
So this module doesn't work with Hapi 18?

[2019-03-08 14:25] raxell opened #207 "No override of default cookie settings"
Related to https://github.com/hapijs/hapi-auth-cookie/issues/190
Shouldn't be better to fallback to [server.options.state](https://hapijs.com/api#-serveroptionsstate) instead of  hard code the default values?
Are pull requests accepted to fix it or is this the expected behaviour?

[2019-03-10 09:33] raxell commented on #187
Late response but hope can be useful to others facing this issue.

You can use the [lifecycle events](https://hapijs.com/api#lifecycle-workflow) to workaround the issue.
In the login handler store the ttl in the cookie, then listen to `onCredentials` to update the ttl overridden by keepAlive.
Something like this:
[code]

[2019-03-15 16:28] #204 closed

[2019-03-15 16:51] hueniverse opened #208 "Remove ignoreIfDecorated"
The setting makes no sense since you cannot decorate twice.

[2019-03-15 16:53] #208 closed

[2019-03-15 16:54] hueniverse opened #209 "10.0.0 Release notes"
- Requires hapi v18
- Removes `ignoreIfDecorated` option
- Moves cookie options:
  - `cookie` - to `cookie.name`
  - `strictHeader`, `isSecure`, `isHttpOnly`, `isSameSite`, `path`, `domain`, `ttl`, `password` - into `cookie`
- Uses server state defaults instead of module defaults
- `path` default changed from `/` to `null` (no path)

[2019-03-15 16:58] #193 closed

[2019-03-15 16:59] #120 closed

[2019-03-15 16:59] #157 closed

[2019-03-15 17:01] hueniverse commented on #158
Seems like this is no longer wanted since no one has submitted a PR. Feel free to open a new issue or PR with this enhancement.

[2019-03-15 17:01] #158 closed

[2019-03-15 17:47] hueniverse commented on #190
Replaced by #207

[2019-03-15 17:47] #190 closed

[2019-03-15 17:51] hueniverse opened #210 "Move all cookie settings to `cookie`"
Moves:
- `cookie` - to `cookie.name`
- `strictHeader`, `isSecure`, `isHttpOnly`, `isSameSite`, `path`, `domain`, `ttl`, `password` - into `cookie`

[2019-03-15 17:52] #207 closed

[2019-03-15 17:52] #210 closed

[2019-03-15 17:59] #187 closed

[2019-03-15 18:00] #161 closed

[2019-03-15 18:00] #200 closed

[2019-03-15 18:02] hueniverse commented on #198
I don't want to expose that. The cookie encoding is part of the overall security architecture of this module. If you need something else, it's small enough to fork.

[2019-03-15 18:02] #198 closed

[2019-03-15 18:03] #195 closed

[2019-03-15 18:03] #184 closed

[2019-03-15 18:04] #181 closed

[2019-03-15 18:04] #160 closed

[2019-03-15 18:05] #163 closed

[2019-03-15 18:06] #191 closed

[2019-03-15 18:08] hueniverse commented on #191
As already explained, this is because authorization is handled later in the lifecycle. This module cannot access that information as it only deals with authentication.

[2019-03-15 18:13] #209 closed

[2019-03-21 10:58] matthieusieben commented on #157
2 years later you label this as `non-issue`. Great support!

[2019-03-21 21:10] hueniverse commented on #157
-- @matthieusieben

Let's dig into that, shall we?

If you still use this module after two years, you have been using a huge amount of my work for a long time which should have entitled me to some basic respect. While **I** don't take sarcasm and hostile behavior personally, many open source maintainers do and this kind of interaction is the reason open source is in such bad shape. You can try arg

[2019-04-05 18:23] CloudVector opened #211 "After upgrading from 9.1.0 to 10.0.0 on hapi 18.1.0 getting strange behaviour for plugin"
Error: Missing authentication
    at module.exports.internals.Auth._authenticate (C:\unicomp\session\node_modules\hapi\lib\auth.js:270:26)
    at process._tickCallback (internal/process/next_tick.js:68:7)

I have a route which using the strategy "session", but I can get to the route where auth is not valid and the validationFunc NEVER got called.

Debugging the code, after the

request.cookieAuth.

[2019-04-06 03:53] #211 closed

[2019-04-07 07:24] CloudVector commented on #211
I have figured out the issue. When I declared the parameter, never before specified the path. Now with version 10 the path will be defaulted for the specific url path, that is why I could not see the cookie on the new url, because only applied to the previous old one. I had to add path: '/' to the initial options and it started to work.

[2019-04-09 13:54] bradrar opened #212 "request.auth.credentials is null after setting request.cookieAuth.set({ id: users.id });"
This is more of a question than an issue. I followed the README.md and copied the code given.
I have successfully set the `request.cookieAuth.set` and looked at the chrome browser dev tools application tab to make sure it is set.  but when I looked at the `request.auth.credentials`, It is null. I have set my `validateFunc` to return an object `{valid: true, credentials: account}` where account is

[2019-04-10 07:06] bradrar commented on #212
I just solved this . Just curious what is wrong with my code here.

[2019-04-19 21:10] hueniverse commented on #212
How did you solve it? When credentials were null, what as the auth status?

[2019-04-19 21:10] #212 closed

[2019-04-19 21:18] hueniverse opened #213 "Change module namespace"

[2019-04-19 21:19] #213 closed

[2019-06-05 20:40] grahamnordstrom opened #215 "Update to README"
I have figured out the issue. When I declared the parameter, never before specified the path. Now with version 10 the path will be defaulted for the specific url path, that is why I could not see the cookie on the new url, because only applied to the previous old one. I had to add path: '/' to the initial options and it started to work.

_Originally posted by @CloudVector in https://github.com/hap

[2019-06-05 20:42] grahamnordstrom commented on #215
Would be helpful to mention this in the README or in the upgrade path.
Alternatively the path could default to '/' as it appears that the cookie isn't set / accessible without it being explicitly set.

[2019-07-23 16:06] Tobais opened #216 "Bug in readme.md (example code)"
In server.auth.strategy(), where is
`const account = internals.users.find((user) => (user.id = session.id));`

should be
`const account = internals.users.find((user) => (user.id === session.id));`

[2019-07-24 07:15] Nargonath commented on #216
Would you like to submit a PR for it?

[2019-07-24 09:11] sscarduzio opened #217 "Very long password can break cookies"
What is a way to avoid this error when we have very long passwords?

"Set-Cookie header is ignored in response from url: http://example.com/login. Cookie length should be less than or equal to 4096 characters."

[2019-07-24 09:19] sscarduzio opened #218 "Server-side-only session attributes to avoid cookies exceed size"
When a user logs in using username and password, I also add to the cookieAuth object the list of groups the user belongs to.

This is very handy, but when a user belongs to 100+ groups I get:

`Set-Cookie header is ignored in response from url: http://example.com/login. Cookie length should be less than or equal to 4096 characters.`

Is there a way to associate data to a session, but avoiding that

[2019-08-14 05:59] greenkeeper[bot] opened #219 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 07:13] #219 closed

[2019-08-14 21:11] hueniverse opened #221 "Update deps"

[2019-08-14 22:39] #221 closed

[2019-09-12 17:33] hueniverse opened #222 "Update joi"

[2019-09-12 17:34] #222 closed, assigned to hueniverse

[2019-09-19 00:11] #217 closed

[2020-01-10 07:21] hueniverse opened #227 "Only node 12"

[2020-01-10 07:21] #227 closed

[2020-01-14 15:23] kanongil commented on #210
You don't mention `clearInvalid`, which was also moved.

[2020-01-14 15:24] kanongil commented on #209
`clearInvalid` is missing from the list of moved cookie options.

[2020-01-15 16:08] AdriVanHoudt opened #228 "Non system error in validateFunc will be swallowed"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 12.14.0
* *module version*: found it on 7.1.0 but same issue on latest
* *environment* (e.g. node, browser, native):

[2020-03-13 19:26] #228 closed

[2020-03-14 16:25] AdriVanHoudt commented on #228
Awesome thanks!

[2021-02-08 20:38] tristanradams opened #234 "Document requirement for cookie path when using paths other than /login"
#### Context

* *node version*: 14.15.4
* *module version*: 11.0.2

#### What are you trying to achieve or the steps to reproduce ?
We wasted several hours trying to configure our login page to be something other than `/login`, in the example below we tried using `/foo.login`. After asking in the Hapi slack channel, it was pointed out to us that if you do not assign the cookie a path, it defaults

[2021-03-19 17:59] Nargonath commented on #234
Thank you @tristanradams for raising the issue. Would you like to open a PR to improve the documentation?

[2021-04-12 05:18] ramusesan opened #237 "validateFunc function not called when i load my react application with webserver (Hapi js) inside Iframe"
Hapi js: 16.7.0
hapi-auth-cookie: 6.1.1

I have implemented the application react and hapi js (web server).
and I have a hapi-auth-cookie plugin for session authentication on each api request which has strategy session and cookies.
if i load my application in a separate window (browser tab) validateFunc is called properly, but if I load my application inside the Iframe its not working and rather m

[2021-04-12 07:27] #237 closed

[2021-06-15 16:21] jacob-nelson opened #238 "hapi js social login session management"
#### Support plan

* *is this issue currently blocking your project?* (yes):
* *is this issue affecting a production system?* (no):

#### Context

* *node version*: 12.16.1
* *module version*: 11.0.2
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi and bell
* *any other relevant information*:

#### How can we help?

[2021-06-15 16:24] jacob-nelson commented on #238
Just to add, I tried with `server.auth.default("session");` also, but have the same issue.

[2021-10-18 16:58] MohdRashid01 opened #240 "How to Return cookie value from cookie_jar file as string"
Hi All

I have one file that name is cookie_jar file in that file there is a cookie value stored in it that i need return in it as string way i have written one command but dont know how to put in as a bash script or shell script. So that my script should return as a token values. Here is the code

cookie_value = "'cookie: PF='$PF'; p_lplcwmsk='$p_lplcwmsk'; BIGipServerNP_QA_QFLOGINQAS0_7011='$BIG

[2021-11-16 19:17] OriaLogic opened #241 "Use two different cookies for different consumer services"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 16.13
* *module version*: 10.0.0
* *environment* (e.g. node, browser, native): not relevant
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi application
* *any other relevant information*:

[2022-01-14 19:31] mkukawski opened #243 "Does Boom.unauthorized in validate method cause HAPI handler to slow down?"
#### Support plan

* *is this issue currently blocking your project?* (no):
* *is this issue affecting a production system?* (yes):

#### Context

* *node version*: 10.24.1
* *module version*: 11.0.0
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi
* *any other relevant information*:

#### How can we help?

validate

[2022-01-15 10:03] kanongil commented on #243
Yes, errors are slow in node, especially if you read the .stack property.

[2022-01-15 10:03] #243 closed

[2022-05-09 21:20] Oliver-Akins opened #245 "Support for Non-401 Error Codes in validateFunc"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): No
* *is this issue affecting a production system?* (yes/no): No

#### Context

* *node version*: `v14.17.0`
* *module version*: 11.0.2
* *environment* (e.g. node, browser, native): Node
* *used with* (e.g. hapi application, another framework, standalone, ...): Hapi application
* *any other relevant information*:

####

[2022-05-09 21:51] devinivy commented on #245
In the code and tests, the module is fairly explicit about what it's trying to do when it sees a non-unauthorized error: https://github.com/hapijs/cookie/blob/fa728d73095278b34186797f3f42cf032eea8eca/test/index.js#L374-L414.  That means that we'd need to treat this as a breaking change, most likely.

Since the original error is preserved on the error's `data` property, you do have an option to get

[2022-05-09 23:28] Oliver-Akins commented on #245
Okay, that makes sense, I can definitely see this being suited as a breaking change since it does change a substantial amount of the existing behaviour.

Thanks for the snippet! It seems like a suitable stand-in for how I'm wanting the erroring to behave.

I think this could be a nice thing to include in a future major-version release, but I am also satisfied with this resolution if this isn't som

[2022-10-24 13:43] joshkel opened #247 "Version 12.0.0 breaking changes?"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 14.20.1
* *module version*: 12.0.0
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi application
* *any other relevant information*:

#### Ho

[2022-10-25 06:57] Nargonath commented on #247
We always assigned a milestone to issues/PRs related to a release. If there is no GH release you can have a look at the milestone to see what the PRs/issues where about: https://github.com/hapijs/cookie/milestone/36?closed=1. We agree this workflow could be improved and we plan on improving it.

I believe we don't add such assertions related to breaking changes AFAIK. Where would you draw the line

[2022-10-25 15:55] joshkel commented on #247
Thanks for the quick reply and for the information.

I apologize; I had forgotten or failed to realize that the Joi schema validation of plugins' options will catch breaking changes such as renaming `validateFunc` to `validate`. That addresses my concern; no further diagnostics needed.

[2022-10-25 15:55] #247 closed

[2022-10-26 06:58] Nargonath commented on #247
Sure you're welcome.